
<!-- only used within messagePage.html-->
<!--
<div (click)="showConvo()" [style]="setStyle()"class="message">
        
    <img class="message-img" src="{{ message.profile }}" alt="profile"/>

    <div class="message-content">

        <div class="message-heading">
            <p class="message-username">{{ message.username }}</p>
            <p class="message-accountname">&commat;{{ message.acc_name }}</p>
            <p class="message-date">{{ message.date }} </p>
        </div>

        <p class="message-text"> {{ message.text }}</p>

    </div>

    <img id="message-elip" class="elip" data-toggle="tooltip" data-placement="bottom" title="More" [src]="service.setUrl('ellipsis.png')" alt="more"/>
    <div id="tab" [style]="showTab()" ></div>
</div>
-->

<div id="whole-message"(click)="showConvo()" [style]="setStyle()"class="message" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()" >
        
    <img class="message-img" (mouseover)="showModal(this)" (mouseout)="hideModal(timer)" src="{{ this.service.setProfileUrl(convo.otherUser.pic)}}" alt="profile"/>
    
    <profile-modal [inMain]="true" [(show)]='show_modal' [mpc]="mpc" [profile]='convo.otherUser'></profile-modal> 



    <div class="message-content">

        <div class="message-heading">
            <p class="message-username">{{ convo.otherUser.username }}</p>
            <p class="message-accountname">&commat;{{ convo.otherUser.acc_name }}</p>
            <p class="message-date"> {{this.lastDate}}</p>
                                        <!--convo.getLastMessageDate()-->
            <div *ngIf="showElip">
                <img (click)="handleElipClick()" id="message-elip" class="elip" data-toggle="tooltip" data-placement="bottom" title="More" [src]="service.setUrl('ellipsis.png')" alt="more"/>
            </div>
        </div>          

        <p class="message-text"> {{this.lastMessage}}</p><!--convo.getLastMessage()-->

    </div>

        <!-- ELIP MODAL-->
    
        <div *ngIf="showElipModal">
            <div id="elip-modal">
                <div class="elip-modal-container">
                    <img [src]="service.setUrl('pin.svg')">
                    <p>Pin Conversation</p>
                </div>

                <hr>

                <div id="elip-modal-delete-container" class="elip-modal-container">
                    <img [src]="service.setUrl('trash-red.png')">
                    <p (click)="handleDeleteClick()" id="delete-text" >Delete Conversation</p>
                </div>
            </div>
        </div>
    
        <div id="tab" [style]="showTab()" ></div>
</div>