
<!-- only used within messagePage.html-->

<div class="message">
        
    <img class="message-img" src="{{ message.profile }}" alt="profile"/>

    <div class="message-content">

        <div class="message-heading">
            <p class="message-username">{{ message.username }}</p>
            <p class="message-accountname">&commat;{{ message.acc_name }}</p>
            <p class="message-date">{{ message.date }} </p>
        </div>

        <p class="message-text"> {{ message.text }}</p>

    </div>

    <img id="message-elip" class="elip" data-toggle="tooltip" data-placement="bottom" title="More" src="/tweeter/assets/images/ellipsis.png" alt="more"/>
</div>