<ng-container *ngIf="show">
        
    <div id="new-message-modal">
        <form id="search-form" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
            <!-- Sticky toolbar-->
            <div class="toolbar">
                <div class="upper-toolbar">
                    <div id="nmm-icon-container">
                        <img (click)="hideModal()" id="nmm-icon"[src]="service.setUrl('cross.svg')"/>
                    </div>
                    <p id="nmm-title">New Message</p>
                    <ng-container *ngIf="selectedUser != ''; else notSelected">
                        <button type='submit' class="nmm-button" id="nmm-button-selected" >Next</button>
                    </ng-container>
                    <ng-template #notSelected>
                        <button type='submit' class="nmm-button">Next</button>
                    </ng-template>
                </div>
                <div class="lower-toolbar">
                    <img id="new-message-modal-icon" [src]="service.setUrl('magnifier.svg')"/>
                    <input id="nm-modal-input" type="text" placeholder="Search people" formControlName="inquiry" maxlength="40" required>
                </div>
            </div>

            <div class="user-list-content">
                <ng-container *ngIf="searchForm.value.inquiry != ''; else emptyList">
                    <short-profile
                    *ngFor="let profile of userList"
                    [profile]="profile" [inNewMessage]="true" [(selectedUser)]="selectedUser">
                    </short-profile>
                </ng-container>
                <ng-template #emptyList>
                    <short-profile
                    *ngFor="let profile of defaultList"
                    [profile]="profile" [inNewMessage]="true" [(selectedUser)]="selectedUser">
                    </short-profile>
                </ng-template>
            </div>
        </form>
    </div>
</ng-container>