
.main-content{
    display: flex;
    justify-content: center;
}

#blurb {
    margin-top: 75px;
    width:fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;

    p{
        display: block;
        font-size: 0.95rem;
        color: rgb(97, 110, 124);
    }
}

.blue-button{
    width: fit-content;
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 0px;
    border-radius: 25px;
    background-color: #1DA1F2;
    a{
        width: fit-content;
        color: white;
        font-size: 0.95rem;
        font-weight: bold;
    }
}
.blue-button:hover{
    background-color: #1a8cd3;
}

@media only screen and (min-width: 976px) and (max-width: 1079px) {
  
    .main-content {
        max-width: 100%;
      width: 91%;
    }
  }
  
  @media only screen and (min-width: 1080px) and (max-width: 1249px) {
  
    .main-content {
        max-width: 100%;
      width: 88%;
    }
  }
  
  @media only screen and (min-width: 1250px) {
  
      .main-content {
        max-width: 100%;
          width: 78%;
        }

  }
  