<!-- Used onHover for any profile pic outside of a search bar modal or the navigaiton bar-->
<div *ngIf="show">

   <div id="p-modal"[style]="setModalPosition()" (mouseleave)="hideModal()" class="profileModal">

        <div class="pm-header">
            <img (click)="handleUsernameClick()" id="p-img"src={{this.service.setUrl(profile.pic)}} class="pm-img" alt="profile">
            <div *ngIf="this.profile.acc_name != this.service_acc_name">
                <div *ngIf="f_check == 'Follow'; else following">
                    <button class="pm-button">{{f_check}}</button>
                </div>
                <ng-template #following>
                    <button id="pm-button-following" class="pm-button">{{f_check}}</button>
                </ng-template>
            </div>
        </div>

        <h3 class="pm-username" (click)="handleUsernameClick()" >{{profile.username}}</h3>
        <h3 class="pm-accountname">&commat;{{profile.acc_name}}</h3>
        <p class="pm-bio"> {{profile.bio}}</p>

        <div class="pm-footer">
            <p class="pm-following" (click)="handleFollowClick('following')"> <b class="pm-num">{{profile.follow_count}}</b> Following</p>
            <p class="pm-followers" (click)="handleFollowClick('followers')"> <b class="pm-num">{{profile.follower_count}}</b> Followers</p>
        </div>

    </div>
</div>
