
<ng-container *ngIf="page == 'Home'">
  <ng-container [ngSwitch]="tab">
    
    <ng-container *ngSwitchCase="'following'">
      <!--<app-post [mcc]='mcc'
      *ngFor="let post of followingFeed"
      [post]="post" [upc]="upc">
      </app-post>-->
        <ng-container *ngIf="data[2]?.length > 0; else emptyList"> <!-- was data?.[2]?.length > 0 -->
          <app-post class="post" [style.borderRadius]="0"
          *ngFor="let post of data[2]; index as i"
          [post]="post" [user]="data[3][i]" [upc]="upc">
          </app-post>
        </ng-container>
      <ng-template #emptyList>
          <div class="profile-empty-list">
            <p class="profile-empty-list-title"> Your followers haven't posted</p>
            <p class="profile-empty-list-body">Once they do, those posts will show up here.</p>
         </div>
      </ng-template>
      
    </ng-container>

    <ng-container *ngSwitchDefault> <!-- for you -->
      
        <ng-container *ngIf="data[0]?.length > 0; else emptyList2"> <!-- was data?.[2]?.length > 0 -->
          <app-post class="post" [style.borderRadius]="0"
            *ngFor="let post of data[0]; index as i"
            [post]="post" [user]="data[1][i]" [upc]="upc">
          </app-post>
        </ng-container>
      
      <ng-template #emptyList2>
          <div class="profile-empty-list">
            <p class="profile-empty-list-title"> There are no posts</p>
            <p class="profile-empty-list-body">Once users post, they will show up here.</p>
         </div>
      </ng-template>
      
    </ng-container>

  </ng-container>
</ng-container>

<!-- quite sure this isn't in use-->
<div *ngIf="page == 'Post'">

  <app-post class="post" [style.borderRadius]="0"
    *ngFor="let post of data[0]"
    [post]="post" [upc]="upc" [inThread]="true">
  </app-post>

</div>
<!--
<div *ngIf="tab == 'following'" <; else elseBlock
  This is the following feed

<app-post
  *ngFor="let post of posts"
  [post]="post">
</app-post>

</div>
-->
<!--
<ng-template #elseBlock>
  This is not the following feed
  
  {% for post in forYouFeed %}
  {% include "post.html" with profile=post.profile username=post.username acc_name=post.acc_name e_time=post.e_time text=post.text image=post.image comments=post.comments retweets=post.retweets likes=post.likes  views=post.views %}
  {% endfor %}
</ng-template>
-->
<div *ngIf="page == 'Explore' || page == 'OtherExplore'">
  <div [ngSwitch]="tab">
    <div *ngSwitchCase="'foryou'">
      <app-search-card
        *ngFor="let searchTopic of data[0]"
        [searchTopic]="searchTopic" [epc]="upc">
      </app-search-card>
    </div>
    <div *ngSwitchCase="'trending'">
      <app-search-card
        *ngFor="let searchTopic of data[1]"
        [searchTopic]="searchTopic" [epc]="upc">
      </app-search-card>
    </div>

    <div *ngSwitchCase="'news'">
      <app-search-card
        *ngFor="let searchTopic of data[2]"
        [searchTopic]="searchTopic" [epc]="upc">
      </app-search-card>
    </div>

    <div *ngSwitchCase="'sports'">
      <app-search-card
        *ngFor="let searchTopic of data[3]"
        [searchTopic]="searchTopic" [epc]="upc">
      </app-search-card>
    </div>

    <div *ngSwitchCase="'entertainment'">
      <app-search-card
        *ngFor="let searchTopic of data[4]"
        [searchTopic]="searchTopic" [epc]="upc">
      </app-search-card>
    </div>

    <div *ngSwitchCase="'latest'">
      <div class="profile-empty-list" *ngIf="data[0] == ''; else notEmpty1">
        <p class="profile-empty-list-title"> No results for "{{query}}"</p>
        <p class="profile-empty-list-body">Try searching for something else</p>
      </div>
      <ng-template #notEmpty1>
        <app-post class="post" [style.borderRadius]="0"
        *ngFor="let post of data[0]; index as i"
        [post]="post" [user]="data[1][i]" [upc]="upc">
        </app-post>
      </ng-template>
    </div>
    <div *ngSwitchCase="'people'">
      <div class="profile-empty-list" *ngIf="data[2] == ''; else notEmpty2">
        <p class="profile-empty-list-title"> No results for "{{query}}"</p>
        <p class="profile-empty-list-body">Try searching for something else</p>
      </div>
      <ng-template #notEmpty2>
        <short-profile 
      *ngFor="let profile of data[2]"
      [profile]="profile">
      </short-profile>
      </ng-template>
    </div>
    <div *ngSwitchCase="'media'">
      <div class="profile-empty-list" *ngIf="data[3] == ''; else notEmpty3">
        <p class="profile-empty-list-title"> No results for "{{query}}"</p>
        <p class="profile-empty-list-body">Try searching for something else</p>
      </div>
      <ng-template #notEmpty3>
        <!-- not implementing media atm-->
      </ng-template>
    </div>
    <div *ngSwitchCase="'blank'">
      <!-- nothing-->
      </div>
    <div *ngSwitchDefault> 
      <app-search-card
        *ngFor="let searchTopic of data[0]"
        [searchTopic]="searchTopic" [epc]="upc">
      </app-search-card>
    </div>
  </div>
</div>
<div *ngIf="page == 'Notifications'">
  <div [ngSwitch]="tab">

    <div *ngSwitchCase="'verified'">
      <div class="profile-empty-list">
        <p class="profile-empty-list-title"> Nothing to see here — yet</p>
        <p class="profile-empty-list-body">Likes, mentions, reposts, and a whole lot more — when it comes from a verified account, you’ll find it here.</p>
      </div>
    </div>
    <!-- Logic not implemented yet-->
    <div *ngSwitchCase="'mentions'">
      <div class="profile-empty-list" *ngIf="data[1] == null; else notEmpty">
        <p class="profile-empty-list-title"> You have no mentions</p>
        <p class="profile-empty-list-body">Once you get some, they will show up here</p>
      </div>
      <ng-template #notEmpty>
        <app-post class="post" [style.borderRadius]="0"
        *ngFor="let post of data[1]; index as i"
        [post]="post" [user]="data[2][i]" [upc]="upc">
        </app-post>
      </ng-template>
    </div>
    
    <div *ngSwitchDefault> <!-- 'all'-->
      <div class="profile-empty-list" *ngIf="data[0] == ''; else notEmpty2">
        <p class="profile-empty-list-title"> You have no notifications</p>
        <p class="profile-empty-list-body">Once you get some, they will show up here</p>
      </div>
      <ng-template #notEmpty2>
        <app-notification
      *ngFor="let notification of data[0]"
      [notification]="notification">
    </app-notification>
      </ng-template>
      
    </div>

  </div>
</div>

<!---
<div *ngIf="page == 'Messages'">
  <app-message [mpc]="mpc" [c_c]="c_c"
    *ngFor="let message of messages"
    [message]="message">
  </app-message>
</div>
-->
<!--
<div *ngIf="page == 'Messages'">
  <app-message [mpc]="mpc" [mcc]="mcc"
    *ngFor="let convo of data[0]"
    [convo]="convo">
  </app-message>
</div>
-->
<ng-container *ngIf="page == 'Profile' || page == 'OtherProfile'">
  <ng-container [ngSwitch]="tab">

    <ng-container *ngSwitchCase="'retweets'">
      <div class="profile-empty-list" *ngIf="data[2] == ''; else notEmpty">
        <p class="profile-empty-list-title"> &commat;{{user.acc_name}} hasn't retweeted any posts</p>
        <p class="profile-empty-list-body">Once they do, those posts will show up here.</p>
      </div>
      <ng-template #notEmpty>
        <app-post class="post" [style.borderRadius]="0"
        *ngFor="let post of data[2]; index as i"
        [post]="post" [user]="data[3][i]" [upc]="upc"> <!-- add input variable for like_ids-->
        </app-post>
      </ng-template>
    </ng-container>

    <ng-container *ngSwitchCase="'media'">
      <div class="profile-empty-list" *ngIf="data[6] == ''; else notEmpty2">
        <p class="profile-empty-list-title"> &commat;{{user.acc_name}} hasn't posted media</p>
        <p class="profile-empty-list-body">Once they do, those posts will show up here.</p>
      </div>
      <ng-template #notEmpty2>
        <app-post class="post" [style.borderRadius]="0"
        *ngFor="let post of data[6]; index as i"
        [post]="post" [user]="data[7][i]" [upc]="upc">
        </app-post>
      </ng-template>
    </ng-container>

    <ng-container *ngSwitchCase="'likes'">
      <div class="profile-empty-list" *ngIf="data[4] == ''; else notEmpty3">
        <p class="profile-empty-list-title"> &commat;{{user.acc_name}} hasn't liked any posts</p>
        <p class="profile-empty-list-body">Once they do, those posts will show up here.</p>
      </div>
      <ng-template #notEmpty3>
        <app-post class="post" [style.borderRadius]="0"
        *ngFor="let post of data[4]; index as i"
        [post]="post" [user]="data[5][i]" [upc]="upc"> <!-- add input variable for like_ids-->
        </app-post>
      </ng-template>
    </ng-container>

    <ng-container *ngSwitchDefault> <!-- posts-->
      <div class="profile-empty-list" *ngIf="data[0] == ''; else notEmpty4">
        <p class="profile-empty-list-title"> &commat;{{user.acc_name}} hasn't posted</p>
        <p class="profile-empty-list-body">Once they do, those posts will show up here.</p>
      </div>
      <ng-template #notEmpty4>
        <app-post class="post" [style.borderRadius]="0"
        *ngFor="let post of data[0]; index as i"
        [post]="post" [user]="data[1][i]"[upc]="upc"> <!-- add input variable for like_ids-->
        </app-post>
      </ng-template>
    </ng-container>

  </ng-container>
</ng-container>

<!--might need some more work to get going-->
<ng-container *ngIf="page == 'ProfileFollow'">
  <ng-container [ngSwitch]="tab">
    
    <ng-container *ngSwitchCase="'followers'">
      <div class="profile-empty-list" *ngIf="data[0] < 1; else hasFollowers">
         <p class="profile-empty-list-title"> {{user.acc_name}} has no followers</p>
        <p class="profile-empty-list-body">Once accounts follow them, they'll show up here.</p>
       </div>
      <ng-template #hasFollowers>
        <short-profile 
        *ngFor="let profile of data[0]"
        [profile]="profile">
        </short-profile>
      </ng-template>
    </ng-container>

    <ng-container *ngSwitchCase="'following'">
      <div class="profile-empty-list" *ngIf="data[1].length < 1; else hasFollowing">
        <p class="profile-empty-list-title"> {{user.acc_name}} isn't following anyone</p>
        <p class="profile-empty-list-body">Once they follow accounts, they'll show up here.</p>
      </div>
      <ng-template #hasFollowing>
        <short-profile 
        *ngFor="let profile of data[1]"
        [profile]="profile">
        </short-profile>
      </ng-template>
    </ng-container>
  </ng-container>
</ng-container>







