
<div *ngIf="page == 'Home'">
  <div [ngSwitch]="tab">
    
    <div *ngSwitchCase="'following'">
      <app-post [mcc]='mcc'
      *ngFor="let post of followingFeed"
      [post]="post" [upc]="upc">
      </app-post>
    </div>

    <div *ngSwitchDefault> 
      <app-post [mcc]='mcc'
      *ngFor="let post of data[0]; index as i"
       [post]="post" [user]="data[1][i]" [upc]="upc">
      </app-post>
    </div>

  </div>
</div>

<div *ngIf="page == 'Post'">

  <app-post [mcc]='mcc'
    *ngFor="let post of data[0]"
    [post]="post" [upc]="upc" [inThread]="true">
  </app-post>

</div>
<!--
<div *ngIf="tab == 'following'" <; else elseBlock
  This is the following feed

<app-post
  *ngFor="let post of posts"
  [post]="post">
</app-post>

</div>
-->
<!--
<ng-template #elseBlock>
  This is not the following feed
  
  {% for post in forYouFeed %}
  {% include "post.html" with profile=post.profile username=post.username acc_name=post.acc_name e_time=post.e_time text=post.text image=post.image comments=post.comments retweets=post.retweets likes=post.likes  views=post.views %}
  {% endfor %}
</ng-template>
-->

<div *ngIf="page == 'Explore'">
  <div [ngSwitch]="tab">
    <div *ngSwitchCase="'trending'">
      <app-search-card
        *ngFor="let searchTopic of trendingSearchTopics"
        [searchTopic]="searchTopic">
      </app-search-card>
    </div>

    <div *ngSwitchCase="'news'">
      <app-search-card
        *ngFor="let searchTopic of newsSearchTopics"
        [searchTopic]="searchTopic">
      </app-search-card>
    </div>

    <div *ngSwitchCase="'sports'">
      <app-search-card
        *ngFor="let searchTopic of sportsSearchTopics"
        [searchTopic]="searchTopic">
      </app-search-card>
    </div>

    <div *ngSwitchCase="'entertainment'">
      <app-search-card
        *ngFor="let searchTopic of entertainmentSearchTopics"
        [searchTopic]="searchTopic">
      </app-search-card>
    </div>

    <div *ngSwitchDefault> <!-- foryou -->
      <app-search-card
        *ngFor="let searchTopic of forYouSearchTopics"
        [searchTopic]="searchTopic">
      </app-search-card>
    </div>
  </div>
</div>
<div *ngIf="page == 'Notifications'">
  <div [ngSwitch]="tab">

    <div *ngSwitchCase="'verified'">
      <app-notification
      *ngFor="let notification of data[0]"
      [notification]="notification">
      </app-notification>
    </div>

    <div *ngSwitchCase="'mentions'">
      <app-notification
      *ngFor="let notification of data[0]"
      [notification]="notification">
      </app-notification>
    </div>
    
    <div *ngSwitchDefault> <!-- 'all'-->
      <app-notification
      *ngFor="let notification of data[0]; index as i"
      [notification]="notification" [user]="data[1][i]">
    </app-notification>
    </div>

  </div>
</div>

<!---
<div *ngIf="page == 'Messages'">
  <app-message [mpc]="mpc" [c_c]="c_c"
    *ngFor="let message of messages"
    [message]="message">
  </app-message>
</div>
-->
<div *ngIf="page == 'Messages'">
  <app-message [mpc]="mpc"
    *ngFor="let convo of convos"
    [convo]="convo">
  </app-message>
</div>

<div *ngIf="page == 'Profile' || page == 'OtherProfile'">
  <div [ngSwitch]="tab">

    <div *ngSwitchCase="'retweets'">
      <div class="profile-empty-list" *ngIf="data[2] == ''; else notEmpty">
        <p class="profile-empty-list-title"> &commat;{{user.acc_name}} hasn't retweeted any posts</p>
        <p class="profile-empty-list-body">Once they do, those posts will show up here.</p>
      </div>
      <ng-template #notEmpty>
        <app-post
        *ngFor="let post of data[2]; index as i"
        [post]="post" [user]="data[3][i]" [upc]="upc"> <!-- add input variable for like_ids-->
        </app-post>
      </ng-template>
    </div>

    <div *ngSwitchCase="'media'">
      <div class="profile-empty-list" *ngIf="data[6] == ''; else notEmpty2">
        <p class="profile-empty-list-title"> &commat;{{user.acc_name}} hasn't posted media</p>
        <p class="profile-empty-list-body">Once they do, those posts will show up here.</p>
      </div>
      <ng-template #notEmpty2>
        <app-post
        *ngFor="let post of data[6]; index as i"
        [post]="post" [user]="data[7][i]" [upc]="upc">
        </app-post>
      </ng-template>
    </div>

    <div *ngSwitchCase="'likes'">
      <div class="profile-empty-list" *ngIf="data[4] == ''; else notEmpty3">
        <p class="profile-empty-list-title"> &commat;{{user.acc_name}} hasn't liked any posts</p>
        <p class="profile-empty-list-body">Once they do, those posts will show up here.</p>
      </div>
      <ng-template #notEmpty3>
        <app-post
        *ngFor="let post of data[4]; index as i"
        [post]="post" [user]="data[5][i]" [upc]="upc"> <!-- add input variable for like_ids-->
        </app-post>
      </ng-template>
    </div>

    <div *ngSwitchDefault> <!-- posts-->
      <div class="profile-empty-list" *ngIf="data[0] == ''; else notEmpty4">
        <p class="profile-empty-list-title"> &commat;{{user.acc_name}} hasn't posted</p>
        <p class="profile-empty-list-body">Once they do, those posts will show up here.</p>
      </div>
      <ng-template #notEmpty4>
        <app-post
        *ngFor="let post of data[0]; index as i"
        [post]="post" [user]="data[1][i]"[upc]="upc"> <!-- add input variable for like_ids-->
        </app-post>
      </ng-template>
    </div>

  </div>
</div>

<!--might need some more work to get going-->
<div *ngIf="page == 'ProfileFollow'">
  <div [ngSwitch]="tab">
    
    <div *ngSwitchCase="'followers'">
      <short-profile
      *ngFor="let profile of data[0]"
      [profile]="profile">
      </short-profile>
    </div>

    <div *ngSwitchCase="'following'">
      <short-profile
      *ngFor="let profile of data[1]"
      [profile]="profile">
      </short-profile>
    </div>
  </div>
</div>







