<div id="mc" class="main-content">

    <div id="profile-t"class="toolbar">
        <div id="profile-ut" class="upper-toolbar">

            <!-- upper toolbar add here-->
            <div id="profile-arrow-container" class="title-icons">
                <img id="profile-arrow"  (click)="service.setCurrentPage('Home')" routerLink="/tweeter/Home" class="toolbar-icon" [src]="service.setUrl('back-arrow.svg')" alt="back-arrow"/>
            </div>
            <div *ngIf="isValid; else inValidProfile">
              <h1 class="page-title"> {{this.acc_name}} </h1>
            </div>
            <ng-template #inValidProfile>
              <h1 class="page-title"> Profile </h1>
            </ng-template>
        </div>
    </div>






   <!-- <div > -->
    <div *ngIf="isValid; else inValidProfile2">
      <img id="profile-bg-image" [src]="elon" alt="background-image"/>
      <div id="profile-row1">
        <img id="profile-p-image" [src]="elon" alt="profile-image"/>
        <button id="edit-profile-button">Edit profile</button>
      </div>
    </div>

    <ng-template #inValidProfile2>
      <div id="invalid-profile-bg-image"></div>
      <div id="profile-row1">
        <img id="invalid-profile-p-image"/>
      </div>
    </ng-template>
      
      
  <div *ngIf="isValid; else inValidProfile3">
      <div class="lower-toolbar">
<!-- lower toolbar add here-->
        <div id="profile-tab1" class="toolbar-tabs">
            <div class="tab-container">
              <button (click)="service.routeToChild('posts')" class="tab-item" id="tab-text" [style]="service.getMarkerStyles(1)"> Posts</button>
              <div class="tab-item" id="marker" [style]="service.displayMarker(1)"></div>
            </div>
        </div>
  
        <div id="profile-tab2" class="toolbar-tabs">
            <div class="tab-container">
              <button (click)="service.routeToChild('replies')" class="tab-item" id="tab-text" [style]="service.getMarkerStyles(2)"> Replies</button>
              <div class="tab-item" id="marker" [style]="service.displayMarker(2)"></div>
            </div>
        </div>
  
        <div id="profile-tab3" class="toolbar-tabs">
            <div class="tab-container">
              <button (click)="service.routeToChild('media')" class="tab-item" id="tab-text" [style]="service.getMarkerStyles(3)"> Media</button>
              <div class="tab-item" id="marker" [style]="service.displayMarker(3)"></div>
            </div>
        </div>

        <div id="profile-tab4" class="toolbar-tabs">
            <div class="tab-container">
              <button (click)="service.routeToChild('likes')" class="tab-item" id="tab-text" [style]="service.getMarkerStyles(4)"> Likes</button>
              <div class="tab-item" id="marker" [style]="service.displayMarker(4)"></div>
            </div>
        </div>

      </div>
    <!--</div> -->

<!-- main content add here-->
<main-content [page]=service.current_page [tab]=service.current_tab></main-content>
<!--
    {% for notification in notifications %}
        {% include "notification.html" with obj=notification  %}
    {% endfor %}
-->
</div>
</div>

<ng-template #inValidProfile3>
  <div id="invalid-profile-message-container">
    <p id="invalid-profile-message-title">This account doesn't exist</p>
    <p id="invalid-profile-message-body">Try searching for another.</p>
  </div>
</ng-template>

<div id="sc" class="secondary-content">
    <!-- secondary content add here-->
    
    <form id="profile-form">
        <input id="profile-searchbar" type="text" placeholder="Search">
      </form>
      
        <div class="panes">
          <div class="pane-container">
            <h3 class="pane-title">What's Happening</h3>
          </div>

          <secondary-content [pane]='1' [page]=service.current_page [tab]=service.current_tab></secondary-content>
    <!--
          {% for topic in topics %}
              {% include "searchCard.html" with obj=topic %}
          {% endfor %}
    -->
          <div id="pane-more" class="pane-container">
            <a (click)="service.setCurrentPage('Explore')" routerLink="/tweeter/Explore" class="pane-more">Show more</a>
          </div>
        </div>
      
        <div class="panes">
          <div class="pane-container">
            <h3 class="pane-title">Who to follow</h3>
          </div>

          <secondary-content [pane]='2' [page]=service.current_page [tab]=service.current_tab></secondary-content>
    <!--
          {% for profile in profiles %}
            {% include "shortProfile.html" with profile=profile button="yes" count=forloop.counter %}
          {% endfor %}
    -->
          <div id="pane-more" class="pane-container">
            <a class="pane-more">Show more</a>
          </div>
        </div>

</div>

<div class="modal-content">

<!--
    {% for profile in profiles %}
        {% include "profileModal.html" with profile=profile count=forloop.counter %}
    {% endfor %}
-->
</div>