<div id="mc" class="main-content">

    <!--<div id="profile-t"class="toolbar"> -->
        <!--<div id="profile-ut" class="upper-toolbar"> -->

          <div *ngIf="inFollowLists; else inProfile1">
            <div id="profile-t"class="toolbar">
              <div id="profile-ut" class="upper-toolbar">
                <!-- upper toolbar add here-->
                <div id="profile-arrow-container" class="title-icons">
                  <img id="profile-arrow" (click)="goBack()" class="toolbar-icon" [src]="service.setUrl('back-arrow.svg')" alt="back-arrow"/>
                </div>
                <div *ngIf="isValid; else inValidProfile">
                  <div class="follow-list-headers">
                    <h1 class="page-title"> {{this.user.username}} </h1>
                    <h1 id="follow-list-ac"> &commat;{{this.user.acc_name}} </h1>
                  </div>
                </div>
                <ng-template #inValidProfile>
                    <h1 class="page-title"> Profile </h1>
                </ng-template>
              </div>
              <div class="lower-toolbar">
                <!-- lower toolbar add here-->
                <div id="profile-f-tab1" class="toolbar-tabs">
                  <div class="tab-container">
                    <button (click)="handleTabClick('followers')" class="tab-item" id="tab-text" [style]="service.getMarkerStyles(1)"> Followers</button>
                    <div class="tab-item" id="marker" [style]="service.displayMarker(1)"></div>
                  </div>
                </div>
                
                <div id="profile-f-tab2" class="toolbar-tabs">
                  <div class="tab-container">
                    <button (click)="handleTabClick('following')" class="tab-item" id="tab-text" [style]="service.getMarkerStyles(2)"> Following</button>
                    <div class="tab-item" id="marker" [style]="service.displayMarker(2)"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <ng-template #inProfile1>
            <div id="profile-t"class="toolbar">
              <div id="profile-ut" class="upper-toolbar">
                <!-- upper toolbar add here-->
                <div id="profile-arrow-container" class="title-icons">
                  <img id="profile-arrow"  (click)="service.setCurrentPage('Home')" routerLink="/tweeter/Home" class="toolbar-icon" [src]="service.setUrl('back-arrow.svg')" alt="back-arrow"/>
                </div>
                <div *ngIf="isValid; else inValidProfile">
                  <h1 class="page-title"> {{this.user.username}} </h1>
                </div>
                <ng-template #inValidProfile>
                  <h1 class="page-title"> Profile </h1>
                </ng-template>
              </div>
            </div>
          </ng-template>
       <!--</div>-->
    

   <!-- <div > -->
    <div *ngIf="!inFollowLists">
    <div *ngIf="isValid; else inValidProfile2">

      <div *ngIf="last_url_section == 'Profile'; else otherProfile">

        <img id="profile-bg-image" [src]="elon" alt="background-image"/>
        <div id="profile-row1">
          <img id="profile-p-image" [src]="this.service.setUrl(this.user.pic)" alt="profile-image"/>
          <button class="profile-page-button" id="edit-profile-button">Edit profile</button>
        </div>
      </div>

      <ng-template #otherProfile>
        <img id="profile-bg-image" [src]="elon" alt="background-image"/>
        <div id="profile-row1">
          <img id="profile-p-image" [src]="this.service.setUrl(this.user.pic)" alt="profile-image"/>
          <div *ngIf="isFollow; else notFollowing">
            <button [style]="styleButton()" class="profile-page-button" id="following-profile-button">Following</button>
          </div>
          <ng-template #notFollowing>
            <button [style]="styleButton()" (click)="followUser()" class="profile-page-button" id="follow-profile-button">Follow</button>
          </ng-template>
          
        </div>
      </ng-template>

    </div>

    <ng-template #inValidProfile2>
      <div id="invalid-profile-bg-image"></div>
      <div id="profile-row1">
        <img id="invalid-profile-p-image"/>
      </div>
    </ng-template>

    <div *ngIf="isValid; else inValidProfile4">
      <div class="profile-info">
        <p class="profile-page-username">{{this.user.username}}</p>
        <p class="profile-page-acc-name"> &commat;{{this.user.acc_name}}</p>
        <p id="profile-page-bio"> {{this.user.bio}}</p>
        <div class="profile-page-counts">
          <div class="profile-page-count-info">
            <p id="ppfgc" class="profile-page-count"> {{this.user.follow_count}}</p>
            <p (click)="showFollowingList()"class="profile-page-count-button"> Following </p>
          </div>
          <div class="profile-page-count-info">
            <p id="ppfrc" class="profile-page-count"> {{this.user.follower_count}}</p>
            <p (click)="showFollowerList()" class="profile-page-count-button"> Followers </p>
          </div>
        </div>
      </div>
    </div>

    <ng-template #inValidProfile4>
      <div class="profile-info">
        <p class="profile-page-username" id="invalid-profile-ac">&commat;{{ this.user.acc_name}}</p>
      </div>
    </ng-template>
      
  </div>

    <div *ngIf="inFollowLists; else inProfile2">
      <!-- main content add here-->
      <main-content [data]=arrs [page]=service_page [tab]=service.current_tab></main-content>
    </div>

  <ng-template #inProfile2>
      
  <div *ngIf="isValid; else inValidProfile3">
      <div class="lower-toolbar">
<!-- lower toolbar add here-->
        <div id="profile-tab1" class="toolbar-tabs">
            <div class="tab-container">
              <button (click)="service.routeToChild('posts')" class="tab-item" id="tab-text" [style]="service.getMarkerStyles(1)"> Posts</button>
              <div class="tab-item" id="marker" [style]="service.displayMarker(1)"></div>
            </div>
        </div>
  
        <div id="profile-tab2" class="toolbar-tabs">
            <div class="tab-container">
              <button (click)="service.routeToChild('replies')" class="tab-item" id="tab-text" [style]="service.getMarkerStyles(2)"> Replies</button>
              <div class="tab-item" id="marker" [style]="service.displayMarker(2)"></div>
            </div>
        </div>
  
        <div id="profile-tab3" class="toolbar-tabs">
            <div class="tab-container">
              <button (click)="service.routeToChild('media')" class="tab-item" id="tab-text" [style]="service.getMarkerStyles(3)"> Media</button>
              <div class="tab-item" id="marker" [style]="service.displayMarker(3)"></div>
            </div>
        </div>

        <div id="profile-tab4" class="toolbar-tabs">
            <div class="tab-container">
              <button (click)="service.routeToChild('likes')" class="tab-item" id="tab-text" [style]="service.getMarkerStyles(4)"> Likes</button>
              <div class="tab-item" id="marker" [style]="service.displayMarker(4)"></div>
            </div>
        </div>

      </div>

    <!--</div> -->

<!-- main content add here-->
<main-content [page]=service.current_page [tab]=service.current_tab></main-content>
<!--
    {% for notification in notifications %}
        {% include "notification.html" with obj=notification  %}
    {% endfor %}
-->
</div>
</ng-template>
</div>

<ng-template #inValidProfile3>
  <div id="invalid-profile-message-container">
    <p id="invalid-profile-message-title">This account doesn't exist</p>
    <p id="invalid-profile-message-body">Try searching for another.</p>
  </div>
</ng-template>

<div id="sc" class="secondary-content">
    <!-- secondary content add here-->
    
    <form id="profile-form">
        <input id="profile-searchbar" type="text" placeholder="Search">
      </form>
      
        <div class="panes">
          <div class="pane-container">
            <h3 class="pane-title">What's Happening</h3>
          </div>

          <secondary-content [pane]='1' [page]=service.current_page [tab]=service.current_tab></secondary-content>
    <!--
          {% for topic in topics %}
              {% include "searchCard.html" with obj=topic %}
          {% endfor %}
    -->
          <div id="pane-more" class="pane-container">
            <a (click)="service.setCurrentPage('Explore')" routerLink="/tweeter/Explore" class="pane-more">Show more</a>
          </div>
        </div>

</div>

<div class="modal-content">

<!--
    {% for profile in profiles %}
        {% include "profileModal.html" with profile=profile count=forloop.counter %}
    {% endfor %}
-->
</div>