
$bg-color-hover-main: rgba(0, 0, 0, 0.030);
$bg-color-hover-nav-tool-bar: rgba(0, 0, 0, 0.090);
$twitter-blue: #1DA1F2;
$gray: rgb(97, 110, 124);

.profile-empty-list{
    display: flex;
    flex-direction: column;
    color: $gray;
    font-size: 1rem;
    width:fit-content;
    margin-top: 50px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

#profile-f-tab1, #profile-f-tab2{
    width:50%;
  }

.follow-list-headers{
    display: flex;
    flex-direction: column;
    gap:0;
    margin-top: 10px;
}

#follow-list-ac{
    font-size: 0.9rem;
    color: $gray;
    margin-left: 15px;
}

#profile-ut{
    margin-right: auto;
    gap: 20px;
}
#profile-t{
    margin-right: auto;
    gap: 20px;
    z-index: 3; //
}
#profile-t-f{
    margin-right: auto;
    gap: 20px;
    z-index: 3;
    border-bottom: 0;
}
#profile-arrow-container{
    //margin-right: auto;
    margin-left: 15px;
}
#profile-arrow{
    //margin-right: auto;
    height: 40px;
    width: 40px;
}
#profile-tab1, #profile-tab2, #profile-tab3, #profile-tab4{
    width: 25%;
  }

#profile-bg-image{
    height: 200px;
    width: 100%;
    object-fit: cover; //keeps aspect ratio and cut off any parts of image that doesnt fit
}

#invalid-profile-bg-image{
    height: 200px;
    width: 100%;
    background-color: lightgray;
}
#invalid-profile-p-image{
    position: relative; 
    top: -70px;
    height: 140px;
    width: 140px;
    border-radius: 50%;
    border: 4px solid white;
    margin-left: 20px;
    z-index: 2;
    background-color: gray; 
}

#invalid-profile-message-container{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 60%;
}
#invalid-profile-message-title{
    font-size: 2rem;
    color: black;
    font-weight: bold;
    height: fit-content;
}
#invalid-profile-message-body{
    color: $gray;
    font-size: 1rem;
    
}

.profile-info{
    margin-left: 20px;
    gap: 0;
}

#profile-row1
{
    display: flex;
    flex-direction: row;
    height: 70px;

    #profile-p-image{
        position: relative; 
        top: -70px;
        height: 140px;
        width: 140px;
        border-radius: 50%;
        border: 4px solid white;
        margin-left: 20px;
        z-index: 2;
        object-fit: cover; //keeps aspect ratio and cut off any parts of image that doesnt fit
    }
    #profile-p-image:hover{
        filter: brightness(92%);
    }
/*
    #edit-profile-button{
        margin-top: 15px;
        margin-left: auto;
        margin-right: 20px;
        border-radius: 25px;
        width: fit-content;
        height: 38px;
        color: black;
        background-color: white;
        border: 1px solid $gray;
        font-weight: bold;
        padding-left: 15px;
        padding-right: 15px;
    }
    #edit-profile-button:hover{
        background-color: $bg-color-hover-nav-tool-bar;
    }
    */
    .profile-page-button{
        margin-top: 15px;
        margin-left: auto;
        margin-right: 20px;
        border-radius: 25px;
        width: fit-content;
        height: 38px;
        color: black;
        background-color: white;
        border: 1px solid $gray;
        font-weight: bold;
        padding-left: 15px;
        padding-right: 15px;
    }
    .profile-page-button:hover{
        background-color: $bg-color-hover-nav-tool-bar;
    }
    #following-profile-button{
        background-color: $gray;
        border: 1px solid black;
    }
}


.profile-page-counts
{
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-size: 1rem;
    height: 30px;
    margin-bottom: 0;

    .profile-page-count-info{
        display: flex;
        flex-direction: row;

        .profile-page-count{
            font-weight: bold;
            padding-right: 5px;
            margin-bottom: 0;
        }
        .profile-page-count-button{
            text-align: right;
            color: $gray;
            margin-bottom: 0;
        }
        .profile-page-count-button:hover{
            text-decoration: underline;
        }

    }
    
    
}

#profile-page-bio{
    margin-top: 10px;
    margin-bottom: 10px;
}

.profile-page-username{
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
    height:30px;
}
.profile-page-acc-name{
    font-size: 1rem;
    padding: 0;
    margin: 0;
    color: $gray;
    height:20px;
}

/*#invalid-profile-ac{

}*/
  
  #profile-searchbar{
    width: 100%;
    max-width: 350px; /*new */
    margin-right:auto;
    font-size: 0.95rem;
  }

  #profile-form {
    width: 89%;
    height: 50px;
    margin-left:8%;
    margin-top: 5px;
    position:sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: white;
  }

  @media only screen and (min-width: 1250px) {
  
    #profile-form{
      margin-left:5%;
    }
  }
