
<ng-container *ngIf="pane == 1"> <!-- what's happening -->
  <app-search-card
  *ngFor="let topic of topics"
  [searchTopic]="topic">
</app-search-card>
</ng-container>

<ng-container *ngIf="pane == 2"> <!-- who to follow-->
  
  <ng-container *ngIf="loadingFlag; else loaded"> <!---->
        <spinner></spinner>
      </ng-container>
      <ng-template #loaded>
        <short-profile 
        *ngFor="let profile of profiles"
        [profile]="profile">
        </short-profile>
      </ng-template>
  

</ng-container> 


