
$bg-color-hover-main: rgba(0, 0, 0, 0.030);
$bg-color-hover-nav-tool-bar: rgba(0, 0, 0, 0.090);
$twitter-blue: #1DA1F2;
$gray-font: rgb(97, 110, 124);

#sc-container{
  width:100%;
  height: 100%,
}
.sc-content{
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
  margin-bottom: auto;
}
#send-message-form{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
}
#send-message-button{
  width: 25px;
  height: 25px;
  margin-left: 20px;
}

.bottom-toolbar{
  //margin-top: auto;
  position: absolute;
  padding: 10px;
  bottom: 0;
  z-index: 2;
  //width: 75%;
  //position: sticky;
  //position: -webkit-sticky;
//top: 0;
  background-color: rgba(255, 255, 255, 0.985);
  border-top: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

#message-input{
padding: 12px 20px 12px 50px;
width: 75%;
height: 40px;
border-radius: 15px;
color: gray;
border: 1px solid lightgray;
}

#message-input:focus {
  outline: 0px;
  outline-offset: -1px;
  border: 1px solid $twitter-blue;
  background-color: white;
  caret-color: $twitter-blue;
}

#message-input::placeholder{
  color: lightgray;
}

.message-date-pair{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#date-sender{
  margin-left: auto;
  margin-right: 10px;
}
#date-reciever{
  margin-left: 10px;
  margin-right: auto;
}
.message-in-convo{
  margin-bottom: 0;
  font-size:medium;
  width: fit-content;
  padding: 12px;
  //padding-left: 15px;
  //padding-right: 15px;
  border-radius: 20px;
  color: white;
}
.message-in-convo-date{
  font-size:small;
  color: $gray-font;
  margin-bottom: 0;
}

#message-sender{
  background-color: $twitter-blue;
  border-bottom-right-radius: 5px;
  margin-left: auto;
  margin-right: 10px;
}
#message-reciever{
  background-color: $gray-font;
  border-bottom-left-radius: 5px;
  margin-left: 10px;
  margin-right: auto;
}
/* message card */

.message {
    display: flex;
    flex-direction: row;
    height: 80px;
    width: 100%;
    background-color: white;
    padding: 10px;
    padding-right: 5px;
    /* border: 1px solid green;*/
    align-items: center;
}
#tab{
  height:100%;
  background-color: white;
  width: 7px;
  border-radius: 5px;
  padding-left: 5px;
}
#convo-toolbar-pic{
  margin-left: 20px;
}

.message:hover{
  background-color: rgba(148, 173, 188, 0.1);
}
.message:hover > #tab{
    background-color: rgba(148, 173, 188, 0.1);
}

.message:hover + #message-elip{
    display:flex;
}

.message-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 0;
}

.message-content {
    display: flex;
    flex-direction: column;
    width: fit-content;
   /* border: 1px solid red; */
    margin-left: 5px;
    height: fit-content;
}

.message-heading{
    display: flex;
    flex-direction: row;
    width: 100%;
   /* border: 1px solid blue;*/
    align-items: first baseline;
    max-height: 30px;
}
.message-username{
    display: inline;
    font-weight: bold;
    font-size: 0.95rem;
    margin-bottom: 0px;
    margin-right: 8px;
    min-width: 30px;
    //max-width: 110px;
    max-height: 24px;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
    background-color: inherit;
}
.message-accountname{
    display: inline;
    font-size: 0.9rem;
    color: rgb(97, 110, 124);
    margin-bottom: 0px;
    width:fit-content;
    min-width: 50px;
    //max-width: 110px;
    background-color: inherit;
    max-height: 24px;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
}
.message-date {
    display: inline;
    margin-bottom: 0px;
    color: rgb(97, 110, 124);
    font-size: 0.9rem;
    min-width: fit-content;
    background-color: inherit;
    margin-right: auto;
}

.message-date::before {
    content: ".";
    margin-left: 4px;
    //margin-right: 4px;
    vertical-align: super;
}


.message-text {
    display: block;
    margin-left: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    color: rgb(97, 110, 124);
    /*border: 1px solid yellow;*/
    font-size: 0.9rem;
    min-width: none;
    max-height: 24px;
    height:21px; //needed for when there is a convo without a message
    overflow: hidden;
}
#message-elip {
    //margin-top: 10px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 0px;
    /*border: 1px solid black;*/
    width: 30px;
    height: 30px;
    padding: 5px;
}

#message-elip:hover{
    display: inline;
}

/* message blurb */

#message-blurb {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    height: fit-content;
    width:fit-content;
    gap: 5px;
    /*border: 1px solid green;*/
}

#messageb-title {
    display: block;
    font-size: 2rem;
    font-weight: bold;
    color: black;
    margin-bottom: 0px;
}

#messageb-text {
    display: block;
    font-size: 0.95rem;
    color: rgb(97, 110, 124);
    margin-bottom: 0px;
    width:350px;
    height: fit-content;
}

#messageb-button {
    display: block;
    background-color: $twitter-blue;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    width:fit-content;
    border: 0px;
    border-radius: 25px;
    height: 50px;
    font-weight: bold;
    margin-top: 20px;
}

#messageb-button:hover{
    background-color: #1a8cd3;
  }

/******************************* New Message Modal ***********************************/

#new-message-modal{
  //display: none;
  //top: 100px; //test
  //left: 100px; //test
  min-height: 400px;
  height: 90%;
  position:fixed;
  display: flex;
  overflow-y: scroll;
  flex-direction: column;
  gap: 0px;
  z-index: 3;//was commented out
  width: 70%;
  //min-width: 400px;
  max-width: 700px;
  margin-left: 15%;
  margin-top: 2%;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.200);
  padding: 5px;
}

#nmm-icon-container
{
  margin-left: 5px;
  height:35px;
  width:35px;
  border-radius: 50%;

  #nmm-icon{
    height:15px;
    width:15px;
    margin-top: 7.5px;
    margin-left: 10px;
  }
}
#nmm-icon-container:hover
{
  background-color: $bg-color-hover-nav-tool-bar;
}
#new-message-modal-icon
{
  height: 18px;
  width: 18px;
  margin-left: 15px;
}

#search-form
{
  width: 100%;
  height: 100%;
}

#nm-modal-input{
  width: 80%;
  margin-right: auto;
  background-image: unset;
  background-position: unset;
  background-size: unset;
  padding: 12px 20px 12px 10px;
  background-repeat: unset;
  background-color: unset;
  color: black;
  border: 0px;
  border-radius: unset;
}

#nm-modal-input:focus {
  outline: 0px;
  outline-offset: unset;
  border: unset;
  background-color: unset;
  caret-color: black;
}
.user-list-content{
  overflow-y: scroll;
  width: 100%;
  //min-height: 300px;
  height: 100%;
}
#new-message-modal::-webkit-scrollbar {
  display: none;
}

#nmm-button-selected{
  background-color: black;
}

.nmm-button{
  border: 0;
  background-color: $gray-font;
  color: white;
  font-weight: bold;
  font-size: 0.85rem;
  border-radius: 15px;
  width: fit-content;
  height:fit-content;
  padding: 5px 15px;
  margin-right: 20px;
}
#nmm-title{
  padding: 0;
  margin:0;
  margin-left: 30px;
  margin-right: auto;
  font-weight: bold;
  color: black;
  font-size: 1.3rem;
}

/* whole page */

.lower-toolbar{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.upper-toolbar{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  align-items: center;
}

#message-form {
    height: 45px;
    margin: 10px;
}
#message-searchbar {
    border: 1px solid lightgray;
    background-color: white;
    height: 45px;
    font-size: 0.9rem;
}
#message-searchbar:focus {
    border: 1px solid $twitter-blue;
    caret-color: $twitter-blue;
}

#eplus-icon {
    display: inline;
    width: 33px;
    height: 33px;
    padding: 6px;
    border-radius: 50%;
    margin: 0px;
}
#eplus-icon:hover{
    background-color: $bg-color-hover-nav-tool-bar;
}

  .elip + .tooltip > .tooltip-inner {
    background-color: darkslategray;
    color: white;
  }


.main-content {
    min-width: 325px
  }

.secondary-content {
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border-right: 1px solid lightgray;
  }

/*
@media only screen and (max-width: 975px) {

    #navbar {
      width: 18%;
    }

    .main-content {
      overflow-y: scroll;
      width: 66%;
      overflow-x: hidden;
    }

    .secondary-content {
      visibility: hidden;
      width: 16%;
    }
}
*/
@media only screen and (min-width: 976px) and (max-width: 1079px) {

    #navbar {
      width: 7%;
      }
  
    .main-content {
      width: 325px;
    }
  
  .secondary-content {
      width: 58.5%;
      visibility: visible;
    }
    .bottom-toolbar{
      width: 58.5%;
    }

  }

@media only screen and (min-width: 1080px) and (max-width: 1249px) {
  
  #new-message-modal{
    margin-left: 20%;
  }

    .main-content {
      width: 390px;
    }
  
  .secondary-content {
      width: 51.5%;
      visibility: visible;
    }
    .bottom-toolbar{
      width: 51.5%;
    }
  }

@media only screen and (min-width: 1250px) {

  #new-message-modal{
    margin-left: 25%;
  }

    .main-content {
        width: 390px;
      }

    .secondary-content {
        width: 46%;
        visibility: visible;
      }
      .bottom-toolbar{
        width: 46%;
      }
      
}