<new-message-modal id="mp-new-message-modal" [(show)]="show" [mpc]="this"></new-message-modal>

<div id="mc" class="main-content">

    <div class="toolbar">
      <div class="upper-toolbar">
      <!-- upper toolbar add here-->

      <h1 class="page-title"> Messages </h1>
      <div class="title-icons">
        <img class="toolbar-icon" [src]="service.setUrl('cog.svg')" alt="cog"/>
        <img id="eplus-icon" (click)="handleNewMessageClick()" [src]="service.setUrl('envelope-plus.svg')"alt="plus"/>
      </div>
        
      </div>
      <div class="lower-toolbar">
<!-- lower toolbar add here-->
      </div>
    </div>

<!-- main content add here-->
  
    <form id="message-form">
        <input id="message-searchbar" type="text" placeholder="Search Direct Messages">
    </form>

    <!-- inspect element in browser, it says reflect home page-->
    
        <app-message [mpc]="this"
          *ngFor="let convo of arr[0]"
          [convo]="convo" [selectedM]="selected" [selectedAcc]="selectedConvo.otherUser.acc_name">
        </app-message>
      <!--
    <main-content [data]=arr [mpc]='this' [page]=service.current_page></main-content>
        -->
</div>


<div id="sc" class="secondary-content" [style]="setSCStyle()">
    <!-- secondary content add here-->

    <div id="sc-container"*ngIf="this.convo_clicked; else notClicked">  
        
        <div class="toolbar">
            <div class="upper-toolbar">
            <!-- upper toolbar add here-->
                <img class="message-img" id="convo-toolbar-pic"[src]="this.service.setUrl(selectedConvo.otherUser.pic)" />
                <h1 class="page-title"> {{selectedConvo.otherUser.username}} </h1>
              
            </div>
        </div>

        <div class="sc-content">
            <div *ngFor="let message of selectedConvo.messages">

                <div *ngIf="message.isSender; else isReciever">
                    <div id="message-date-pair-sender" class="message-date-pair">
                        <div *ngIf="message.text == ''; else justText" class="message-post" id="message-post-sender">
                            <app-post [post]="message.post!" [inConvo]="true"></app-post> <!-- Where i need to insert a prop for inConvo-->
                        </div>
                        <ng-template #justText> 
                            <p id="message-sender" class="message-in-convo">{{message.text}}</p>
                        </ng-template> 
                        <p id="date-sender"class="message-in-convo-date">{{message.getDateTime()}}</p>
                    </div>                    
                </div>
            
                <ng-template #isReciever> 
                    <div id="message-date-pair-reciever" class="message-date-pair">
                        <div *ngIf="message.text == ''; else justText2" class="message-post" id="message-post-reciever">
                            <app-post [post]="message.post!" [inConvo]="true"></app-post> <!-- Where i need to insert a prop for inConvo-->
                        </div>
                        <ng-template #justText2>
                            <p id="message-reciever" class="message-in-convo">{{message.text}}</p>
                        </ng-template>
                        <p id="date-reciever" class="message-in-convo-date">{{message.getDateTime()}}</p>
                    </div>
                </ng-template> 

            </div>
        </div>

        <div class="bottom-toolbar">
            <form id="send-message-form" [formGroup]="messageForm">
                <input id="message-input" formControlName="message" placeholder="Start a new message" maxlength="99" required>
                <img (click)="handleSentMessage()" id="send-message-button" [src]="service.setUrl('send-arrow.png')"/>
            </form>
        </div>


    </div>

    <ng-template #notClicked> 
        <div id="message-blurb">
            <h2 id="messageb-title"> Select a message</h2>
            <p id="messageb-text">Choose from your existing conversations, start a new one, or just keep swimming.</p>
            <button (click)="handleNewMessageClick()" id="messageb-button"> New message</button>
        </div>
    </ng-template>

</div>

<div class="modal-content">
<!-- modal content add here-->
</div>




