
$bg-color-hover-main: rgba(0, 0, 0, 0.030);
$bg-color-hover-nav-tool-bar: rgba(0, 0, 0, 0.090);
$twitter-blue: #1DA1F2;
$gray-font: rgb(97, 110, 124);
$cancel-red: #f51616;

/********************* Elip modal ********************/
#elip-modal{
  position:fixed;
  display: flex;
  flex-direction: column;
  z-index: 2;
  background-color: white;
  width: 200px;
  height: fit-content;
  border-radius: 15px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.200);
  margin-left: -100px;
  margin-top: 10px;

  hr{
    margin: 0;
    padding: 0;
  }

  #elip-modal-delete-container{
    border-radius: 0 0 15px 15px;
  }

  .elip-modal-container{
    display: flex;
    flex-direction: row;
    font-size: 0.85rem;
    font-weight: bold;
    color: black;
    height: fit-content;
    border-radius: 15px 15px 0 0;
    padding:10px;
    

      p{
        margin: 5px;
        padding: 0;
      }

      img{
        margin-top: 5px;
        margin-left: 10px;
        height: 20px;
        width: 20px;
      }

      #delete-text{
        color: $cancel-red;
      }
  }
  .elip-modal-container:hover{
    background-color: $bg-color-hover-main;
  }
}

#message-input:focus {
  outline: 0px;
  outline-offset: -1px;
  border: 1px solid $twitter-blue;
  background-color: white;
  caret-color: $twitter-blue;
}

#message-sender{
  background-color: $twitter-blue;
  border-bottom-right-radius: 5px;
  margin-left: auto;
  margin-right: 10px;
}
#message-reciever{
  background-color: $gray-font;
  border-bottom-left-radius: 5px;
  margin-left: 10px;
  margin-right: auto;
}


#messageb-button {
    display: block;
    background-color: $twitter-blue;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    width:fit-content;
    border: 0px;
    border-radius: 25px;
    height: 50px;
    font-weight: bold;
    margin-top: 20px;
}

#nmm-icon-container:hover
{
  background-color: $bg-color-hover-nav-tool-bar;
}
#new-message-modal-icon
{
  height: 18px;
  width: 18px;
  margin-left: 15px;
}

#search-form
{
  width: 100%;
  height: 100%;
}

#nm-modal-input{
  width: 80%;
  margin-right: auto;
  background-image: unset;
  background-position: unset;
  background-size: unset;
  padding: 12px 20px 12px 10px;
  background-repeat: unset;
  background-color: unset;
  color: black;
  border: 0px;
  border-radius: unset;
}

#nm-modal-input:focus {
  outline: 0px;
  outline-offset: unset;
  border: unset;
  background-color: unset;
  caret-color: black;
}
.user-list-content{
  overflow-y: scroll;
  width: 100%;
  height: 100%;
}
#new-message-modal::-webkit-scrollbar {
  display: none;
}

#nmm-button-selected{
  background-color: black;
}

.nmm-button{
  border: 0;
  background-color: $gray-font;
  color: white;
  font-weight: bold;
  font-size: 0.85rem;
  border-radius: 15px;
  width: fit-content;
  height:fit-content;
  padding: 5px 15px;
  margin-right: 20px;
}
#nmm-title{
  padding: 0;
  margin:0;
  margin-left: 30px;
  margin-right: auto;
  font-weight: bold;
  color: black;
  font-size: 1.3rem;
}

/* whole page */

.lower-toolbar{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.upper-toolbar{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  align-items: center;
}

#message-form {
    height: 45px;
    margin: 10px;
}
#message-searchbar {
    border: 1px solid lightgray;
    background-color: white;
    height: 45px;
    font-size: 0.9rem;
}
#message-searchbar:focus {
    border: 1px solid $twitter-blue;
    caret-color: $twitter-blue;
}

#whole-message:hover{
  background-color: $bg-color-hover-main;
}

#eplus-icon {
    display: inline;
    width: 33px;
    height: 33px;
    padding: 6px;
    border-radius: 50%;
    margin: 0px;
}
#eplus-icon:hover{
    background-color: $bg-color-hover-nav-tool-bar;
}

  .elip + .tooltip > .tooltip-inner {
    background-color: darkslategray;
    color: white;
  }

.main-content {
    min-width: 325px
  }

.secondary-content {
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border-right: 1px solid lightgray;
  }

@media only screen and (min-width: 701px) and (max-width: 975px) {

  #pm-new-message-modal{
    left: 18%;
  }
}
@media only screen and (min-width: 976px) and (max-width: 1079px) {

  #pm-new-message-modal{
    left: 9%;
  }
    #navbar {
      width: 7%;
      }
  
    .main-content {
      width: 325px;
    }
    .message-accountname{
      max-width: 80px;
    }
    .message-username{
      max-width: 80px;
    }
  
  .secondary-content {
      width: 58.5%;
      visibility: visible;
    }
    .bottom-toolbar{
      width: 58.5%;
    }
  }

@media only screen and (min-width: 1080px) and (max-width: 1249px) {
  
  #mp-new-message-modal{
    left: 13%;
  }
    .main-content {
      width: 390px;
    }
    .message-accountname{
      max-width: 110px;
    }
    .message-username{
      max-width: 110px;
    }
  
  .secondary-content {
      width: 51.5%;
      visibility: visible;
    }
    .bottom-toolbar{
      width: 51.5%;
    }
  }

@media only screen and (min-width: 1250px) {

  #mp-new-message-modal{
    left: 23%;
  }
  .message-accountname{
    max-width: 110px;
  }
  .message-username{
    max-width: 110px;
  }
    .main-content {
        width: 390px;
      }

    .secondary-content {
        width: 46%;
        visibility: visible;
      }
      .bottom-toolbar{
        width: 46%;
      }
}