<!-- only used within searchPage.html-->
<div class="searchCard">

    <div class="sc-content">
        <div class="sc-textgroup">
            <p id="sc-category" class="sc-text">{{ searchTopic.category }}</p>
            <p class="sc-text"> Trending </p>
        </div>
        <h3 class="sc-topic"> {{ searchTopic.topic }}</h3>
        <p class="sc-text"> {{ searchTopic.postNum }} posts</p>
    </div>

    <img id="sc-elip" class="elip" data-toggle="tooltip" data-placement="bottom" title="More" [src]="setUrl('ellipsis.png')" />
</div>