
{% extends "master.html" %}

{% load static %}

{% block style %}
{% static 'css/homePage.css' %}
{% endblock %}

{% block navbar %}
  {% include "navigationbar.html" with page="home" %}
{% endblock %}

{% block title %}
<ul>
  <li>
    <a class="upt" href="">For you</a>
    <div id="marker"></div>
  </li>
  <li>
    <a class="upt" href="">Following</a>
    <div id="marker">hello</div>
  </li>
</ul>

{% endblock %}

{% block additional %}
<p> Nothing goes here for now</p>
{% endblock %}

{% block content %}

<div class="empty-post">
    <p> Blank post ready to be made goes here</p>
</div>

<!-- <div class="p-column"> -->
    {% for post in feed %}
        {% include "post.html" with profile=post.profile username=post.username acc_name=post.acc_name e_time=post.e_time text=post.text image=post.image comments=post.comments retweets=post.retweets likes=post.likes  views=post.views %}
    {% endfor %}

<!-- </div> -->
{% endblock %}

{% block content2 %}

  <form id="home-searchbar">
    <input type="text" placeholder="Search">
  </form>

  <div class="panes">
    <div class="pane-container">
      <h3 class="pane-title">What's Happening</h3>
    </div>
    {% for topic in topics %}
        {% include "searchCard.html" with obj=topic %}
    {% endfor %}
    <div id="pane-more" class="pane-container">
      <p class="pane-more">Show more</p>
    </div>
  </div>

  <div class="panes">
    <div class="pane-container">
      <h3 class="pane-title">Who to follow</h3>
    </div>
    {% for profile in profiles %}
      {% include "shortProfile.html" with profile=profile button="yes" count=forloop.counter %}
    {% endfor %}
    <div id="pane-more" class="pane-container">
      <p class="pane-more">Show more</p>
    </div>
  </div>


{% endblock %}

{% block modal %}
  {% for profile in profiles %}
    {% include "profileModal.html" with profile=profile count=forloop.counter %}
  {% endfor %}
{% endblock %}


