
{% extends "master.html" %}

{% load static %}

{% block style %}
{% static 'css/homePage.css' %}
{% endblock %}

{% block navbar %}
  {% include "navigationbar.html" with page="home" %}
{% endblock %}

{% block title %}
    <a class="upt" href="">For you</a>
    <a class="upt" href="">Following</a>
{% endblock %}

{% block additional %}
<p> Nothing goes here for now</p>
{% endblock %}

{% block content %}

<div class="empty-post">
    <p> Blank post ready to be made goes here</p>
</div>

<!-- <div class="p-column"> -->
    {% for post in feed %}
        {% include "post.html" with profile=post.profile username=post.username acc_name=post.acc_name e_time=post.e_time text=post.text image=post.image comments=post.comments retweets=post.retweets likes=post.likes  views=post.views %}
    {% endfor %}

<!-- </div> -->
{% endblock %}

{% block content2 %}

  <form id="home-searchbar">
    <input type="text" placeholder="Search">
  </form>

  <div class="panes">
    <h3>What's Happening</h3>

    {% for topic in topics %}
        {% include "searchCard.html" with obj=topic %}
    {% endfor %}
    
    <p>Show more</p>
  </div>

  <div class="panes">
    <h3>Who to follow</h3>

    {% for profile in profiles %}
        {% include "shortProfile.html" with profile=profile %}
    {% endfor %}
    
    <p>Show more</p>
  </div>

{% endblock %}

