
{% extends "toolbar.html" %}

{% load static %}

{% block title %}
<img id="logo" src="{% static 'images/tweeter_logo.png' %}" alt="logo"/>
{% endblock %}

{% block additional %}
<p> For you</p>
<p> Following</p>
{% endblock %}

{% block content2 %}

<p> This is the home page!</p>

{% for post in feed %}
    {% include "post.html" with profile="post.profile" username="post.username" acc_name="post.acc_name" e_time="post.e_time" text="post.text" image="post.image" comments="post.comments" retweets="post.retweets" likes="post.likes"  views="post.views" %}
{% endfor %}

{% endblock %}
