<!-- just for testing the toolbar template-->
{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>Master</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <link rel="stylesheet" href="{% static 'css/global.css' %}">
  <link rel="stylesheet" href="{% block style %}{% endblock %}">
  <!--<script src="{% block script %}{% endblock %}"></script> -->
  <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1">
</head>
<body>

  {% block navbar %}
  {% endblock %}
  
  <div class="main-content">

    <div class="toolbar">
      <div class="upper-toolbar">
          {% block title %}
          {% endblock %}
      </div>
      <div class="lower-toolbar">
       {% block additional %}
       {% endblock %}
      </div>
    </div>

    {% block content %}
    {% endblock %}
  </div>

  <div id="sc" class="secondary-content">
    {% block content2 %}
    {% endblock %} 
  </div>

  <div class="modal-content">
    {% block modal %}
    {% endblock %}
  </div>
  
</body>
<script type="text/javascript" src="{% static 'js/global.js' %}"></script>
</html>