{% extends "master.html" %}

{% load static %}

{% block style %}
{% static 'css/messagePage.css' %}
{% endblock %}

{% block title %}
<h1> Messages </h1>
{% endblock %}

{% block additional %}
<form class="d-flex">
    <input class="form-control me-2" type="text" placeholder="Search Direct Messages">
    <button class="btn btn-primary" type="button">Search</button>
  </form>
{% endblock %}

{% block content %}

{% for message in messages %}
    {% include "message.html" with obj=message  %}
{% endfor %}

{% endblock %}