<!-- only used within messagePage.html-->

{% load static %}

<div class="message">
        
    <img class="message-img" src="{% static obj.profile %}" alt="profile"/>

    <div class="message-content">

        <div class="message-heading">
            <p class="message-username">{{ obj.username }}</p>
            <p class="message-accountname">@{{ obj.acc_name }}</p>
            <p class="message-date">{{ obj.date }} </p>
        </div>

        <p class="message-text"> {{ obj.text }}</p>

    </div>

    <img id="message-elip" class="elip" data-toggle="tooltip" data-placement="bottom" title="More" src="{% static 'images/ellipsis.png' %}" alt="more"/>

</div>