{% extends "master.html" %}

{% load static %}

{% block style %}
{% static 'css/notificationPage.css' %}
{% endblock %}

{% block title %}
<h1>Notifications</h1>
{% endblock %}

{% block additional %}
<p> All</p>
<p> Verified</p>
<p> Mentions</p>
{% endblock %}

{% block content %}

{% for notification in notifications %}
    {% include "notification.html" with obj=notification  %}
{% endfor %}

{% endblock %}

{% block content2 %}

  <form class="d-flex">
    <input class="form-control me-2" type="text" placeholder="Search">
    <button class="btn btn-primary" type="button">Search</button>
  </form>

  <div class="card">
        <div class="card-body">
            <p> Word to fill the space</p>
            <p> More words</p>
        </div>
  </div>

  <div class="card">
        <div class="card-body">
            <p> Other words to fill the space</p>
            <p> More other words</p>
        </div>
  </div>

{% endblock %}