{% extends "master.html" %}

{% load static %}

{% block style %}
{% static 'css/notificationPage.css' %}
{% endblock %}

{% block navbar %}
  {% include "navigationbar.html" with page="notification" %}
{% endblock %}

{% block title %}
<h1>Notifications</h1>
{% endblock %}

{% block additional %}
<p> All</p>
<p> Verified</p>
<p> Mentions</p>
{% endblock %}

{% block content %}

{% for notification in notifications %}
    {% include "notification.html" with obj=notification  %}
{% endfor %}

{% endblock %}

{% block content2 %}

<form id="notification-searchbar">
  <input type="text" placeholder="Search">
</form>

  <div class="panes">
    <h3>What's Happening</h3>

    {% for topic in topics %}
        {% include "searchCard.html" with obj=topic %}
    {% endfor %}
    
    <p>Show more</p>
  </div>

  <div class="panes">
    <h3>Who to follow</h3>

    {% for profile in profiles %}
        {% include "shortProfile.html" with profile=profile button="yes" %}
    {% endfor %}
    
    <p>Show more</p>
  </div>

{% endblock %}