<!-- only used within notificationPage.html-->

{% load static %}

<div class="notification">

        <div class="notification-header">
            {% if obj.type == "Heart" %}
                <img class="notification-icon" src="{% static 'images/pink-heart-fill.png' %}" alt="type"/>
            {% elif obj.type == "News" %}
                <img class="notification-icon" src="{% static 'images/purple-star.png' %}" alt="type"/>
            {% elif obj.type == "Retweet" %}
                <img class="notification-icon" src="{% static 'images/retweet.png' %}" alt="type"/>
            {% endif %}
            <img class="notification-profile" src="{% static obj.profile %}" alt="profile"/>
            {% if obj.type == "News" %}
            <img id="notification-elip" class="elip" data-toggle="tooltip" data-placement="bottom" title="More" src="{% static 'images/ellipsis.png' %}" alt="more"/>
            {% endif %}
        </div>

    {% if obj.type == "Heart" %}
        <p class="notification-title"> <b>{{ obj.username }}</b> liked your post! </p>
    {% elif obj.type == "News" %}
        <p class="notification-title"><b>{{ obj.username }}</b></p>
    {% elif obj.type == "Retweet" %}
        <p class="notification-title"><b>{{ obj.username }}</b> retweeted your post! </p>
    {% endif %}
        <p class="notification-text"> {{ obj.text }}</p>
</div>