{% extends "master.html" %}

{% load static %}

{% block style %}
{% static 'css/notificationPage.css' %}
{% endblock %}

{% block navbar %}
  {% include "navigationbar.html" with page="notification" %}
{% endblock %}

{% block title %}
<h1>Notifications</h1>
{% endblock %}

{% block additional %}
<p> All</p>
<p> Verified</p>
<p> Mentions</p>
{% endblock %}

{% block content %}

{% for notification in notifications %}
    {% include "notification.html" with obj=notification  %}
{% endfor %}

{% endblock %}

{% block content2 %}

<form id="notification-searchbar">
  <input type="text" placeholder="Search">
</form>

  <div class="panes">
    <div class="pane-container">
      <h3 class="pane-title">What's Happening</h3>
    </div>
    {% for topic in topics %}
        {% include "searchCard.html" with obj=topic %}
    {% endfor %}
    <div id="pane-more" class="pane-container">
      <p class="pane-more">Show more</p>
    </div>
  </div>

  <div class="panes">
    <div class="pane-container">
      <h3 class="pane-title">Who to follow</h3>
    </div>
    {% for profile in profiles %}
      {% include "shortProfile.html" with profile=profile button="yes" count=forloop.counter %}
    {% endfor %}
    <div id="pane-more" class="pane-container">
      <p class="pane-more">Show more</p>
    </div>
  </div>

{% endblock %}

{% block modal %}
  {% for profile in profiles %}
    {% include "profileModal.html" with profile=profile count=forloop.counter %}
  {% endfor %}
{% endblock %}