<!-- only used within homePage.html-->

<div class="heading">
    <img src="{{ profile }}" alt="profile"/>
    <p>{{ username }}</p>
    <p>{{ acc_name }}</p>
    <p>{{  e_time }} </p>
</div>

<div class="content">
    <p> {{ text }}</p>
    <img src="{{ image }}" alt="image"/>
</div>

<div class="reactionbar">
    <img src="" alt="comment"/>
    <p> {{ comments }} </p>
    <img src="" alt="retweet"/>
    <p> {{ retweets }} </p>
    <img src="" alt="like"/>
    <p> {{ likes }} </p>
    <img src="" alt="view"/>
    <p> {{ views }} </p>
</div>