{% extends "master.html" %}

{% load static %}

{% block style %}
{% static 'css/searchPage.css' %}
{% endblock %}

{% block navbar %}
  {% include "navigationbar.html" with page="search" %}
{% endblock %}

{% block title %}
<form id="search-searchbar">
  <input type="text" placeholder="Search">
</form>
{% endblock %}

{% block additional %}
<p> For you</p>
<p> Trending</p>
<p> News</p>
<p> Sports</p>
<p> Entertainment</p>
{% endblock %}

{% block content %}

  {% for topic in topics %}
    {% include "searchCard.html" with obj=topic %}
  {% endfor %}

{% endblock %}

{% block content2 %}

<div class="panes">
  <h3>Who to follow</h3>

  {% for profile in profiles %}
      {% include "shortProfile.html" with profile=profile %}
  {% endfor %}
  
  <p>Show more</p>
</div>

{% endblock %}