{% extends "master.html" %}

{% load static %}

{% block style %}
{% static 'css/searchPage.css' %}
{% endblock %}

{% block title %}
<form class="d-flex">
    <input class="form-control me-2" type="text" placeholder="Search">
    <button class="btn btn-primary" type="button">Search</button>
  </form>
{% endblock %}

{% block additional %}
<p> For you</p>
<p> Trending</p>
<p> News</p>
<p> Sports</p>
<p> Entertainment</p>
{% endblock %}

{% block content %}

{% endblock %}

{% block content2 %}

  <form class="d-flex">
    <input class="form-control me-2" type="text" placeholder="Search">
    <button class="btn btn-primary" type="button">Search</button>
  </form>

  <div class="card">
        <div class="card-body">
            <p> Word to fill the space</p>
            <p> More words</p>
        </div>
  </div>

  <div class="card">
        <div class="card-body">
            <p> Other words to fill the space</p>
            <p> More other words</p>
        </div>
  </div>

{% endblock %}