<!-- only used within searchPage.html-->
{% load static %}
<div class="searchCard">

    <div class="sc-content">
        <div class="sc-textgroup">
            <p id="sc-category" class="sc-text">{{ obj.category }}</p>
            <p class="sc-text"> Trending </p>
        </div>
        <h3 class="sc-topic"> {{ obj.topic }}</h3>
        <p class="sc-text"> {{ obj.postNum }} posts</p>
    </div>

    <img id="sc-elip" class="elip" data-toggle="tooltip" data-placement="bottom" title="More" src="{% static 'images/ellipsis.png' %}" />
</div>