<!-- Tool bar for homepage, search page, notifications page, messages page-->
{% extends "master.html" %}
{% load static %}

{% block style %}
{% static 'css/toolbar.css' %}
{% endblock %}

{% block content %}
<div class="toolbar">
    <div class="upper-toolbar">
        <img src="" alt="profile"/>
        {% block title %}
        {% endblock %}
        <img src="" alt="cog"/>
    </div>
    <div class="lower-toolbar">
     {% block additional %}
     {% endblock %}
    </div>

</div>
{% endblock %}

