
<div id="mc" class="main-content">

    <div class="toolbar">
      <div class="upper-toolbar">
      <!-- upper toolbar add here-->
        
        <h1 class="page-title"> Notifications </h1>
        <div class="title-icons">
            <img class="toolbar-icon" [src]="service.setUrl('cog.svg')" alt="cog"/>
        </div>
      </div>
      <div class="lower-toolbar">
      <!-- lower toolbar add here-->

        <div id="notification-tab1" class="toolbar-tabs">
            <div class="tab-container">
              <button (click)="service.routeToChild('all')" class="tab-item" id="tab-text" [style]="service.getMarkerStyles(1)"> All</button>
              <div class="tab-item" id="marker" [style]="service.displayMarker(1)"></div>
            </div>
        </div>
  
        <div id="notification-tab2" class="toolbar-tabs">
            <div class="tab-container">
              <button (click)="service.routeToChild('verified')" class="tab-item" id="tab-text" [style]="service.getMarkerStyles(2)"> Verified</button>
              <div class="tab-item" id="marker" [style]="service.displayMarker(2)"></div>
            </div>
        </div>
  
        <div id="notification-tab3" class="toolbar-tabs">
            <div class="tab-container">
              <button (click)="service.routeToChild('mentions')" class="tab-item" id="tab-text" [style]="service.getMarkerStyles(3)"> Mentions</button>
              <div class="tab-item" id="marker" [style]="service.displayMarker(3)"></div>
            </div>
        </div>
      </div>
    </div>

    <ng-container *ngIf="loadingFlag; else loaded">
      <spinner></spinner>
    </ng-container>
    
    <ng-template #loaded>
      <!-- main content add here-->
      <main-content [data]=arrs [page]=service.current_page [tab]=service.current_tab></main-content>
    </ng-template>

</div>

<div id="sc" class="secondary-content">
    <!-- secondary content add here-->
    
    <div id="notification-form">
      <search-bar id="notification-searchbar"></search-bar>
    </div>
      
        <div class="panes">
          <div class="pane-container">
            <h3 class="pane-title">What's Happening</h3>
          </div>

          <secondary-content [pane]='1' [page]=service.current_page [tab]=service.current_tab></secondary-content>

          <div id="pane-more" class="pane-container">
            <a (click)="service.setCurrentPage('Explore')" routerLink="/tweeter/Explore" class="pane-more">Show more</a>
          </div>
        </div>
      
        <div class="panes">
          <div class="pane-container">
            <h3 class="pane-title">Who to follow</h3>
          </div>

          <secondary-content [pane]='2' [page]=service.current_page [tab]=service.current_tab></secondary-content>

          <div id="pane-more" class="pane-container">
            <a class="pane-more">Show more</a>
          </div>
        </div>

</div>

<div class="modal-content">

</div>

