<div id="login">
    <div id="logo-container">
        <img [src]="setUrl('/assets/images/tweeter-logo-blue.png')">
    </div>

    <div id="content-container">
        <h1 id="title"> Happening now</h1>
        <h3 id="sub-title"> Join today.</h3>
        <div class="selection-container">
            <button id="google-button" class="login-buttons">Sign up with Google</button>
            <div id="or-divider">
                <hr id="hr1">
                <p id="or"> or </p>
                <hr id="hr2">
            </div>
            <button id="create-account-button"class="login-buttons"> Create account</button>
            <p id="question"> Already have an account?</p>
            <button (click)="showLoginModal()" id="sign-in-button"class="login-buttons"> Sign in</button>
            
            <login-modal [(show)]="show_login_modal"></login-modal>
            
        </div>
    </div>

</div>
