/* when making any changes, you will have to collectstatic after 
and add html somewhere, to make them appear, try clicking another then come back and refresh
*/
$bg-color-hover-main: rgba(0, 0, 0, 0.030);
$bg-color-hover-nav-tool-bar: rgba(0, 0, 0, 0.090);
$twitter-blue: #1DA1F2;
$gray-font: rgb(97, 110, 124);

/* post styling */
.reactionbar{
  display:flex;
  flex-direction: row;
  align-items: center;
}

img.reactionbaricons{
    width: 18px;
    height: 18px;
  }

  #post-profile-img{
    margin: 0;
  }
.post-text{

}
.post-image{
  margin-right: 15px;
  max-height: 500px;
  height:fit-content;
  width: fit-content;
  max-width: 98%;
  border-radius: 15px;

}
  

  .post-content-container{
    display: inline;
    width: 100%;
    border: 1px solid green;
    margin-left: 7px;
    margin-right: 7px;
  }

  .post-profile-container{
    margin-top: 12px;
    margin-left: 17px;
    display: inline;
    width: fit-content;
    height: fit-content;
    border: 1px solid red;
   
  }

  .post-heading{
    display:flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid red;

      #post-username{
        font-weight: bold;
        color: black;
        font-size: 1rem;
      }
      p{
        margin-bottom: 0;
      }

      #post-accountname{
        color: $gray-font;
        font-size: 0.95rem;
        margin-left: 5px;
      }

      #post-etime::before {
        content: ".";
        margin-left: 4px;
        margin-right: 4px;
        //vertical-align: super;
      }

      #post-etime{
        color: $gray-font;
        font-size: 0.95rem;
      }

      #post-elip{
        margin-right: 0;
        margin-left: auto;
        width: 32px;
        height: 32px;
        padding: 7px;
        border-radius: 20px;
      }

  }

  .post-profile{
    display:inline;
    margin-left:10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .post:hover {
    background-color: $bg-color-hover-main;
  }
  
  .reactiongroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    border: 1px solid black;
    height: 50px;
    width: 23%;
  }

  #last-rc {
    width: 8%;
    justify-content: center;
  }

  .reactionbarvalues {
    display: inline-flex;
    height: 50px;
    margin: 5px;
    font-size: 12px;
    vertical-align: middle;
    align-items: center;
    border: 1px solid black;
    color: #808080;
  }

  .post {
    width: 100%;
    display: inline-flex;
    border: 1px solid blue;
    height: fit-content;
  }



  #home-searchbar{
    width: 89%;
    max-width: 350px; /*new */
    margin-left:8%;
    margin-right:auto;
    font-size: 0.95rem;
  }

  #home-form {
    height: 50px;
    margin-top: 4px;
    position:sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: white;
  }

  #home-tab1, #home-tab2{
    width:50%;
  }
  
  .lower-toolbar {
    display: none;
  }

  .toolbar-icon {

    margin-left: 10px;
    margin-bottom: 0px;
  }

  @media only screen and (min-width: 1250px) {

    #home-searchbar{
      margin-left:5%;
    }
  }
