/* when making any changes, you will have to collectstatic after 
and add html somewhere, to make them appear, try clicking another then come back and refresh
*/

/* post styling */
  
img.reactionbaricons{
    width: 15px;
    height: 15px;
  }

  .reactionbar{
    display:inline;
  }

  .postheading{
    display:inline-flex;
  }

  ul {
    list-style: none;
    align-items: center;
  }
  
  li {
    display: inline-flex;
    margin: 10px; /* add spacing between items */
    color: #808080;
    vertical-align: middle;
    align-items: center;
    /*border: 1px solid black;*/
    height: 50px;
  }

  .reactionbarvalues {
    display: inline-flex;
    height: 50px;
    margin: 5px;
    font-size: 12px;
    vertical-align: middle;
    align-items: center;
    border: 1px solid black;
  }

  .post {
    width: 100%;
    border: 1px solid blue;
  }

  #home-searchbar{
    width: 89%;
    max-width: 350px; /*new */
    margin-left:8%;
    margin-right:auto;
    font-size: 0.95rem;
  }

  #home-form {
    height: 50px;
    margin-top: 4px;
    position:sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: white;
  }

  #home-tab1, #home-tab2{
    width:50%;
  }
  
  .lower-toolbar {
    display: none;
  }

  .toolbar-icon {

    margin-left: 10px;
    margin-bottom: 0px;
  }

  @media only screen and (min-width: 1250px) {

    #home-searchbar{
      margin-left:5%;
    }
  }
