
.searchCard {
    width: 100%;
    //border: 1px solid blue;
  }

  #search-form{
    height: 50px;
    width:85%;
    max-width: 500px;
    margin-top: 4px;
    margin-left: 20px;
  }

  

  #search-tab1, #search-tab2, #search-tab3, #search-tab4, #search-tab5 {
    width: 20%;
  }