<new-message-modal id="post-new-message-modal" [(show)]="showNewMessageModal" [inPost]="true" [postID]="post.id" ></new-message-modal>
<!-- only used within homePage.html-->
<div class="post">

    <div *ngIf="!focused">
        <div class="post-profile-container">
            <img id="post-profile-img" (mouseover)="showModal(post, this)" (mouseout)="hideModal(timer)" class="post-profile" src="{{this.service.setUrl(post.profile)}}" alt="profile"/>
            <profile-modal [inMain]="true" [(show)]='show_modal' [mcc]='mcc'[profile]='user'></profile-modal> <!--[profile]='modal_profile'-->
        </div>
    </div>

    <div class="post-content-container">

        <!---->
    <div class="post-heading-and-content" (click)="handlePostClick()">
        <div *ngIf="!focused">
            <div class="post-heading">
                <p id="post-username">{{ post.username }}</p>
                <p class="post-accountname">&commat;{{ post.acc_name }}</p>
                <p id="post-etime">{{ showDeltaDate()}} </p>
                <img id="post-elip" class="elip" [src]="service.setUrl('ellipsis.png')" alt="more"/>
            </div>
        </div>
        <div *ngIf="focused">
            <div class="post-heading">
                <img id="post-profile-img" (mouseover)="showModal(post, this)" (mouseout)="hideModal(timer)" class="post-profile" src="{{this.service.setUrl(post.profile)}}" alt="profile"/>
                <profile-modal [inMain]="true" [(show)]='show_modal' [mcc]='mcc'[profile]='modal_profile'></profile-modal>
                <div id="user-accname-stack">
                    <p id="post-username">{{ post.username }}</p>
                    <p id="post-accountname-focused" class="post-accountname">&commat;{{ post.acc_name }}</p>
                </div>
                <img id="post-elip" class="elip" [src]="service.setUrl('ellipsis.png')" alt="more"/>
            </div>
        </div>
            <div class="post-content">
                <p class="post-text"> {{ post.text }}</p>
                <div *ngIf="post.image != ''">
                    <img class="post-image" src="{{ post.image }}" alt="image"/>
                </div>
                <div *ngIf="focused">
                    <p id="post-focused-date">{{showTimeAndDate()}}</p>
                </div>
            </div>
    </div>
        <!---->
            <div *ngIf="focused">
                <hr class="reactionbar-line"> 
            </div>
            <div class="reactionbar">
                <div class="reactiongroup">
                    <button class="reaction-button" (mouseover)="colorReaction('chat-bubble')" (mouseout)="grayReaction()">
                        <div (click)="handleCommentClick()" class="icon-container" [style]="colorReactionBarBG('chat-bubble')">
                            <img class="reactionbaricons" [src]="colorReactionBarIcon('chat-bubble')" alt="comment"/>
                        </div>
                        <h3 class="reactionbarvalues" [style]="colorReactionBarText('chat-bubble')"> {{ post.comments }} </h3>
                    </button>
                </div>
                <div class="reactiongroup">
                    <button class="reaction-button" (mouseover)="colorReaction('retweet')" (mouseout)="grayReaction()">
                        <div (click)="handleRetweet()" class="icon-container" [style]="colorReactionBarBG('retweet')">
                            <img class="reactionbaricons" [src]="colorReactionBarRetweet('retweet')" alt="retweet"/>
                        </div>
                        <h3 class="reactionbarvalues" [style]="colorReactionBarText('retweet')"> {{ post.retweets }} </h3>
                    </button>
                </div>
                <div class="reactiongroup">
                    <button class="reaction-button" (mouseover)="colorReaction('heart')" (mouseout)="grayReaction()">
                        <div (click)="handleLike()" class="icon-container" [style]="colorReactionBarBG('heart')">
                            <img class="reactionbaricons" [src]="colorReactionBarHeart('heart')" alt="like"/>
                        </div>
                        <h3 class="reactionbarvalues" [style]="colorReactionBarText('heart')"> {{ post.likes}} </h3> <!--NEW-->
                    </button>
                </div>
                <div class="reactiongroup">
                    <button class="reaction-button" (mouseover)="colorReaction('bar-graph')" (mouseout)="grayReaction()">
                        <div class="icon-container" [style]="colorReactionBarBG('bar-graph')">
                            <img class="reactionbaricons" [src]="colorReactionBarIcon('bar-graph')" alt="view"/>
                        </div>
                        <h3 class="reactionbarvalues" [style]="colorReactionBarText('bar-graph')"> {{ post.views }} </h3>
                    </button>
                </div>
                <div id="last-rc" class="reactiongroup">
                    <button class="reaction-button" (mouseover)="colorReaction('bookmark')" (mouseout)="grayReaction()">
                        <div class="icon-container" [style]="colorReactionBarBG('bookmark')">
                            <img class="reactionbaricons" [src]="colorReactionBarIcon('bookmark')" alt="bookmark"/>
                        </div>
                    </button>
                    
                    <button class="reaction-button" (mouseover)="colorReaction('share')" (mouseout)="grayReaction()">
                        <div class="icon-container" [style]="colorReactionBarBG('share')">
                            <img  (click)="handleShareClick()" class="reactionbaricons" [src]="colorReactionBarIcon('share')" alt="share"/>
                        </div>
                    </button> 

                    <!-- Share MODAL-->
                    <div *ngIf="showShareModal">
                        <div id="share-modal">
                            <div (click)="handleCopyTextClick()" class="share-modal-container">
                                <img [src]="service.setUrl('chain.svg')">
                                <p>Copy Link</p>
                            </div>

                            <hr>

                            <div (click)="handleSendDMClick()" id="share-modal-delete-container" class="share-modal-container">
                                <img [src]="service.setUrl('envelope.svg')">
                                <p>Send Via Direct Message</p>
                            </div>
                        </div>
                    </div>

                </div>
            
            </div>
            <div *ngIf="focused">
                <hr class="reactionbar-line"> 
            </div>
    </div>
    
        




            <!--
            <ul class="reactionbar">
                <li class="reactiongroup">
                    <img class="reactionbaricons" src="../../../assets/images/chat-bubble.png" alt="comment"/>
                    <h3 class="reactionbarvalues"> {{ post.comments }} </h3>
                </li>
                <li class="reactiongroup">
                    <img class="reactionbaricons" src="../../../assets/images/retweet.png" alt="retweet"/>
                    <h3 class="reactionbarvalues"> {{ post.retweets }} </h3>
                </li>
                <li class="reactiongroup">
                    <img class="reactionbaricons" src="../../../assets/images/heart.png" alt="like"/>
                    <h3 class="reactionbarvalues" > {{ post.likes }} </h3>
                </li>
                <li class="reactiongroup">
                    <img class="reactionbaricons" src="../../../assets/images/bar-graph.png" alt="view"/>
                    <h3 class="reactionbarvalues"> {{ post.views }} </h3>
                </li>
                <li>
                    <img class="reactionbaricons" src="../../../assets/images/bookmark.png" alt="bookmark"/>
            
                </li>
                <li>
                    <img class="reactionbaricons" src="../../../assets/images/share.png" alt="share"/>
                </li>
            </ul>
        -->
    
</div>        


