
<!-- only used within homePage.html-->
<div class="post">

    <div class="post-profile-container">
        <img id="post-profile-img" (mouseover)="showModal(post.username)" (mouseout)="hideModal()" class="post-profile" src="{{ post.profile }}" alt="profile"/>
        <profile-modal [inMain]="true" [show]='show_modal' [profile]='modal_profile'></profile-modal>
    </div>

    <div class="post-content-container">

            <div class="post-heading">
                <p id="post-username">{{ post.username }}</p>
                <p id="post-accountname">&commat;{{ post.acc_name }}</p>
                <p id="post-etime">{{ post.e_time }} </p>
                <img id="post-elip" class="elip" src="./../../assets/images/ellipsis.png" alt="more"/>
            </div>

            <div class="post-content">
                <p class="post-text"> {{ post.text }}</p>
                <div *ngIf="post.image != ''">
                    <img class="post-image" src="{{ post.image }}" alt="image"/>
                </div>
            </div>

            <div class="reactionbar">
                <div class="reactiongroup">
                    <button class="reaction-button" (mouseover)="colorReaction('chat-bubble')" (mouseout)="grayReaction()">
                        <div class="icon-container" [style]="colorReactionBarBG('chat-bubble')">
                            <img class="reactionbaricons" [src]="colorReactionBarIcon('chat-bubble')" alt="comment"/>
                        </div>
                        <h3 class="reactionbarvalues" [style]="colorReactionBarText('chat-bubble')"> {{ post.comments }} </h3>
                    </button>
                </div>
                <div class="reactiongroup">
                    <button class="reaction-button" (mouseover)="colorReaction('retweet')" (mouseout)="grayReaction()">
                        <div class="icon-container" [style]="colorReactionBarBG('retweet')">
                            <img class="reactionbaricons" [src]="colorReactionBarIcon('retweet')" alt="retweet"/>
                        </div>
                        <h3 class="reactionbarvalues" [style]="colorReactionBarText('retweet')"> {{ post.retweets }} </h3>
                    </button>
                </div>
                <div class="reactiongroup">
                    <button class="reaction-button" (mouseover)="colorReaction('heart')" (mouseout)="grayReaction()">
                        <div class="icon-container" [style]="colorReactionBarBG('heart')">
                            <img class="reactionbaricons" [src]="colorReactionBarIcon('heart')" alt="like"/>
                        </div>
                        <h3 class="reactionbarvalues" [style]="colorReactionBarText('heart')"> {{ post.likes }} </h3>
                    </button>
                </div>
                <div class="reactiongroup">
                    <button class="reaction-button" (mouseover)="colorReaction('bar-graph')" (mouseout)="grayReaction()">
                        <div class="icon-container" [style]="colorReactionBarBG('bar-graph')">
                            <img class="reactionbaricons" [src]="colorReactionBarIcon('bar-graph')" alt="view"/>
                        </div>
                        <h3 class="reactionbarvalues" [style]="colorReactionBarText('bar-graph')"> {{ post.views }} </h3>
                    </button>
                </div>
                <div id="last-rc" class="reactiongroup">
                    <button class="reaction-button" (mouseover)="colorReaction('bookmark')" (mouseout)="grayReaction()">
                        <div class="icon-container" [style]="colorReactionBarBG('bookmark')">
                            <img class="reactionbaricons" [src]="colorReactionBarIcon('bookmark')" alt="bookmark"/>
                        </div>
                    </button>
                    
                    <button class="reaction-button" (mouseover)="colorReaction('share')" (mouseout)="grayReaction()">
                        <div class="icon-container" [style]="colorReactionBarBG('share')">
                            <img class="reactionbaricons" [src]="colorReactionBarIcon('share')" alt="share"/>
                        </div>
                    </button> 
                </div>
            
            </div>
        </div>
    
        




            <!--
            <ul class="reactionbar">
                <li class="reactiongroup">
                    <img class="reactionbaricons" src="../../../assets/images/chat-bubble.png" alt="comment"/>
                    <h3 class="reactionbarvalues"> {{ post.comments }} </h3>
                </li>
                <li class="reactiongroup">
                    <img class="reactionbaricons" src="../../../assets/images/retweet.png" alt="retweet"/>
                    <h3 class="reactionbarvalues"> {{ post.retweets }} </h3>
                </li>
                <li class="reactiongroup">
                    <img class="reactionbaricons" src="../../../assets/images/heart.png" alt="like"/>
                    <h3 class="reactionbarvalues" > {{ post.likes }} </h3>
                </li>
                <li class="reactiongroup">
                    <img class="reactionbaricons" src="../../../assets/images/bar-graph.png" alt="view"/>
                    <h3 class="reactionbarvalues"> {{ post.views }} </h3>
                </li>
                <li>
                    <img class="reactionbaricons" src="../../../assets/images/bookmark.png" alt="bookmark"/>
            
                </li>
                <li>
                    <img class="reactionbaricons" src="../../../assets/images/share.png" alt="share"/>
                </li>
            </ul>
        -->
</div>        


