<new-message-modal id="post-new-message-modal" [(show)]="showNewMessageModal" [inPost]="true" [postID]="post.id" ></new-message-modal>
<!-- only used within homePage.html-->

<!--<div class="post" [style.borderRadius]="inConvo ? '25px': 0"> -->

    <ng-container *ngIf="!focused">
            <div class="post-profile-container-and-line">

                <ng-container *ngIf="!inConvo">
                    <hr class="reactionbar-line">
                </ng-container>
                
                <ng-container *ngIf="inConvo; else notConvo">
                    <div class="post-profile-container"> <!-- (mouseover)="showModal()" (mouseout)="hideModal()"-->
                        <img id="post-profile-img" class="post-profile" src="{{this.service.setProfileUrl(post.profile)}}" alt="profile"/>
                        <profile-modal [inMain]="true" [(show)]='show_modal' [profile]='user'></profile-modal> <!--[profile]='modal_profile'-->
                    </div>
                </ng-container>
                <ng-template #notConvo>
                    <div class="post-profile-container">
                        <img id="post-profile-img" (mouseover)="showModal()" (mouseout)="hideModal()" class="post-profile" src="{{this.service.setProfileUrl(post.profile)}}" alt="profile"/>
                        <profile-modal [inMain]="true" [(show)]='show_modal' [profile]='user' [inFeed]=true></profile-modal> <!--[profile]='modal_profile'-->
                    </div>
                </ng-template>
            </div>
        
    </ng-container>

    <div class="post-content-container">
        <ng-container *ngIf="!inConvo">
            <hr class="reactionbar-line">
        </ng-container>
       
    <div class="post-heading-and-content" (click)="handlePostClick()">
        <ng-container *ngIf="!focused">
            <div class="post-heading">
                <p id="post-username">{{ post.username }}</p>
                <p class="post-accountname">&commat;{{ post.acc_name }}</p>
                <p id="post-etime">{{ showDeltaDate()}} </p>
                <ng-container *ngIf="!inConvo" id="elip-div">
                    <img id="post-elip" class="elip" [src]="service.setUrl('ellipsis.png')" alt="more"/>
                </ng-container>
            </div>
        </ng-container>
        <ng-container *ngIf="focused">
            <div class="post-heading">
                <img id="post-profile-img" (mouseover)="showModal()" (mouseout)="hideModal()" class="post-profile" src="{{this.service.setProfileUrl(post.profile)}}" alt="profile"/>
                <profile-modal [inMain]="true" [(show)]='show_modal' [profile]='modal_profile'></profile-modal>
                <div id="user-accname-stack">
                    <p id="post-username">{{ post.username }}</p>
                    <p id="post-accountname-focused" class="post-accountname">&commat;{{ post.acc_name }}</p>
                </div>
                <img id="post-elip" class="elip" [src]="service.setUrl('ellipsis.png')" alt="more"/>
            </div>
        </ng-container>
            <div class="post-content">
                <p class="post-text"> {{ post.text }}</p>
                <ng-container *ngIf="post.image != ''">
                    <img class="post-image" src="{{ post.image }}" alt="image"/>
                </ng-container>
                <ng-container *ngIf="focused">
                    <p id="post-focused-date">{{showTimeAndDate()}}</p>
                </ng-container>
            </div>
    </div>
   
        <ng-container *ngIf="!inConvo">
            <ng-container *ngIf="focused">
                <hr class="reactionbar-line"> 
            </ng-container>
            <div class="reactionbar">
                <div class="reactiongroup">
                    <button class="reaction-button" (mouseover)="colorReaction('chat-bubble')" (mouseout)="grayReaction()">
                        <div (click)="handleCommentClick()" class="icon-container" [style]="colorReactionBarBG('chat-bubble')">
                            <img class="reactionbaricons" [src]="colorReactionBarIcon('chat-bubble')" alt="comment"/>
                        </div>
                        <h3 class="reactionbarvalues" [style]="colorReactionBarText('chat-bubble')"> {{ post.comments }} </h3>
                    </button>
                </div>
                <div class="reactiongroup">
                    <button class="reaction-button" (mouseover)="colorReaction('retweet')" (mouseout)="grayReaction()">
                        <div (click)="handleRetweet()" class="icon-container" [style]="colorReactionBarBG('retweet')">
                            <img class="reactionbaricons" [src]="colorReactionBarRetweet('retweet')" alt="retweet"/>
                        </div>
                        <h3 class="reactionbarvalues" [style]="colorReactionBarText('retweet')"> {{ post.retweets }} </h3>
                    </button>
                </div>
                <div class="reactiongroup">
                    <button class="reaction-button" (mouseover)="colorReaction('heart')" (mouseout)="grayReaction()">
                        <div (click)="handleLike()" class="icon-container" [style]="colorReactionBarBG('heart')">
                            <img class="reactionbaricons" [src]="colorReactionBarHeart('heart')" alt="like"/>
                        </div>
                        <h3 class="reactionbarvalues" [style]="colorReactionBarText('heart')"> {{ post.likes}} </h3> <!--NEW-->
                    </button>
                </div>
                <div class="reactiongroup">
                    <button class="reaction-button" (mouseover)="colorReaction('bar-graph')" (mouseout)="grayReaction()">
                        <div class="icon-container" [style]="colorReactionBarBG('bar-graph')">
                            <img class="reactionbaricons" [src]="colorReactionBarIcon('bar-graph')" alt="view"/>
                        </div>
                        <h3 class="reactionbarvalues" [style]="colorReactionBarText('bar-graph')"> {{ post.views }} </h3>
                    </button>
                </div>
                <div id="last-rc" class="reactiongroup">
                    <button class="reaction-button" (mouseover)="colorReaction('bookmark')" (mouseout)="grayReaction()">
                        <div class="icon-container" [style]="colorReactionBarBG('bookmark')">
                            <img class="reactionbaricons" [src]="colorReactionBarIcon('bookmark')" alt="bookmark"/>
                        </div>
                    </button>
                    
                    <button class="reaction-button" (mouseover)="colorReaction('share')" (mouseout)="grayReaction()">
                        <div class="icon-container" [style]="colorReactionBarBG('share')">
                            <img  (click)="handleShareClick()" class="reactionbaricons" [src]="colorReactionBarIcon('share')" alt="share"/>
                        </div>
                    </button> 

                    <!-- Share MODAL-->

                    <ng-container *ngIf="showShareModal">
                        <div id="share-modal">
                            <div (click)="handleCopyTextClick()" class="share-modal-container">
                                <img [src]="service.setUrl('chain.svg')">
                                <p>Copy Link</p>
                            </div>

                            <hr>

                            <div (click)="handleSendDMClick()" id="share-modal-delete-container" class="share-modal-container">
                                <img [src]="service.setUrl('envelope.svg')">
                                <p>Send Via Direct Message</p>
                            </div>
                        </div>
                    </ng-container>

                </div>
            
            </div>

            <ng-container *ngIf="focused">
                <hr class="reactionbar-line"> 
            </ng-container>
        </ng-container>
    </div>
<!--</div>        -->


