
.notification {
    width: 100%;
    border-bottom: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: start;
    background-color: white;
    padding-left: 20px;
    padding-bottom: 15px;
    padding-top: 5px;
    padding-right:10px;
  }
  
  .notification:hover{
    background-color: rgba(0, 0, 0, 0.100);
  }
  
  .notification-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 100%;
  }
  
  .notification-icon {
    display:inline;
    margin-left:0;
    width: 28px;
    height: 28px;
  }
  
  .notification-profile{
    display:inline;
    margin-left:10px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
  
  .notification-profile:hover {
    /*overlay*/
    background-color: rgba(0, 0, 0, 0.100);
  }
  
  
  #notification-elip{
    display:inline;
    margin-left:auto;
    margin-right:0px;
    width: 35px;
    height: 35px;
    padding: 8px;
    border-radius: 50%;
  }
  
  .notification-title{
    display: block;
    width: fit-content;
    font-size: 1rem;
    color: black;
    margin-bottom: 0;
    margin-left: 45px;
  }
  
  .notification-text{
    display: block;
    height: fit-content;
    font-size: 1rem;
    color:rgb(97, 110, 124);
    margin-bottom: 0;
    margin-left: 45px;
  }
  
  #notification-searchbar{
    width: 89%;
    max-width: 350px; /*new */
    margin-left:8%;
    margin-right:auto;
    font-size: 0.95rem;
  }
  #notification-form {
    height: 50px;
    margin-top: 4px;
    position:sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: white;
  }
  
  #notification-tab1, #notification-tab2, #notification-tab3{
    width: 33.3%;
  }
  
  @media only screen and (min-width: 1250px) {
  
    #notification-searchbar{
      margin-left:5%;
    }
  }