
<div class="main-content">

    <div class="toolbar">
      <div class="upper-toolbar">
      <!-- upper toolbar add here-->
        
        <h1 class="page-title"> Notifications </h1>
        <div class="title-icons">
            <img class="toolbar-icon" src="../../assets/images/cog.svg" alt="cog"/>
        </div>

      </div>
      <div class="lower-toolbar">
<!-- lower toolbar add here-->

        <div id="notification-tab1" class="toolbar-tabs">
            <div class="tab-container">
                <a class="tab-item" id="tab-text" href="#notification-tab1"> All</a>
                <div class="tab-item" id="marker"></div>
            </div>
        </div>
  
        <div id="notification-tab2" class="toolbar-tabs">
            <div class="tab-container">
                <a class="tab-item" id="tab-text" href="#notification-tab2"> Verified</a>
                <div class="tab-item" id="marker"></div>
            </div>
        </div>
  
        <div id="notification-tab3" class="toolbar-tabs">
            <div class="tab-container">
                <a class="tab-item" id="tab-text" href="#notification-tab3"> Mentions</a>
                <div class="tab-item" id="marker"></div>
            </div>
        </div>

      </div>
    </div>

<!-- main content add here-->
  
<!--
    {% for notification in notifications %}
        {% include "notification.html" with obj=notification  %}
    {% endfor %}
-->
</div>

<div id="sc" class="secondary-content">
    <!-- secondary content add here-->
    
    <form id="notification-form">
        <input id="notification-searchbar" type="text" placeholder="Search">
      </form>
      
        <div class="panes">
          <div class="pane-container">
            <h3 class="pane-title">What's Happening</h3>
          </div>
    <!--
          {% for topic in topics %}
              {% include "searchCard.html" with obj=topic %}
          {% endfor %}
    -->
          <div id="pane-more" class="pane-container">
            <p class="pane-more">Show more</p>
          </div>
        </div>
      
        <div class="panes">
          <div class="pane-container">
            <h3 class="pane-title">Who to follow</h3>
          </div>
    <!--
          {% for profile in profiles %}
            {% include "shortProfile.html" with profile=profile button="yes" count=forloop.counter %}
          {% endfor %}
    -->
          <div id="pane-more" class="pane-container">
            <p class="pane-more">Show more</p>
          </div>
        </div>

</div>

<div class="modal-content">

<!--
    {% for profile in profiles %}
        {% include "profileModal.html" with profile=profile count=forloop.counter %}
    {% endfor %}
-->
</div>

