/* Styling used on all pages */


/* navigation bar */

  #navbar {
  float: left;
  width: 8%;
  min-width: min-content;
  /*height: 100vh;*/
  border: 5px solid orange;
  min-height: 575px;
  }

  .navbartext {
  display:none;
  }

  #write-tweet {
    width: 50px;
    height: 50px;
    text-align: center;
  }

  #navbarpost {
    display: none;
  }

  /*
  img.navbaricons {
    width: 50px;
    height: 50px;
    padding: 12px;
    border-radius: 15px;
  }
  */
  img.navbaricons {
    width: 22px;
    height: 22px;
  }


  /*
  img.navbaricons:hover {
    background-color: lightgrey;
  }
  */

  .nav-link:hover {
    background-color: lightgrey;
  }

  /*
  .nav-link {
    align-items: self-end;
    padding: 15px;
    width: 100%;
    border-radius: 15px;
    border: 1px solid green;
    height: 50px;
  }
  */

  .nav-item {
    margin: 5px;
  }

  .nav-link {
    align-items: self-end;
    padding: 14px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar-nav {
    width: 100%;
    align-items:self-end;
    height: 100%;
    min-height: 500px;
    border: 1px solid green;
  }

  #profile-nav-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  #profile-nav {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: 10px;
  }

  #bottom-nav {
    display: block;
    height: 17%;
    min-height: 75px;
    border: 1px solid blue;
    width: 100%;   
    justify-content: right;
  }

  #profile-nav:hover {
    background-color: lightgrey;
  }

  #profile-nav-elip {
    display: none;
  }

  #profile-nav-text {
    display: none;
  }


.main-content {
    display: block;
    overflow-y: scroll;
    height: 800px;
    width: 58%;
    border: 1px solid rgb(15, 216, 139);
    overflow-x: hidden;
    float:left;
  }

.secondary-content {
    display: block;
    overflow: scroll;
    /*height: 800px;*/
    height: 100vh;
    width: 34%;
    visibility: visible;
    float:right;
    border: 3px solid purple;
  }

#toolbar-icon {
    width: 25px;
    height: 25px;
    display: inline-block;
}

body {
    width: 100%;
    overflow-x: hidden;
  }


ul {
    list-style: none;
    align-items: center;
   /* width: 100%; */
  }
  
li {
    margin: 10px;
    vertical-align: middle;
    align-items: center;
    height: 50px;
   /* width: 100%; */
  }

/* short profile */

#shortProfile
{
  width:100%;
  height: 60px;
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  justify-content:left;
  align-items:center;
  /* margin-top: auto; *//* don't now if necessary */
  padding: 10px;
}

#shortProfile:hover {
  background-color: lightgrey;
}

#shortProfile-text{
  display:inline;
  padding-left: 10px;
  padding-right: 10px;
}

#shortProfile-username {
  display: block;
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 0;
  width: fit-content;
}
#shortProfile-accountname {
  display: block;
  font-size: 0.8rem;
  margin: 0;
  margin-block-start: 0px;
  margin-block-end: 0px;
  width: fit-content;
}
#shortProfile-img{
    vertical-align: middle;
    margin: unset;
    margin-left: 10px;
    display:inline;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
#shortProfile-button {
  background-color: black;
  color: white;
  height: 30px;
  width: 75px;
  border-radius: 25px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 10px;
  margin-left: auto;
  vertical-align: middle;
  display:inline;
  border: 0px;
  font-size: 0.9rem;
  font-weight: bold;
  align-items: center;
}
#shortProfile-button:hover {
  background-color: rgba(0, 0, 0, 0.700);
}

  /* width */
  .main-content::-webkit-scrollbar {
    display: none;
  }

  .secondary-content::-webkit-scrollbar {
    width: 10px;
    border: 5px 5px;
  }

  /* Track */
  .secondary-content::-webkit-scrollbar-track {
    background: white; 
  }
  
  /* Handle */
  .secondary-content::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  .secondary-content::-webkit-scrollbar-thumb:hover{
    background: #555; 
  }

  .toolbar {
    width: 100%;
  }

  .panes 
  {
    background-color: #f6f9f9;
    border-radius: 25px;
    width: 85%;
    margin-left:7.5%;
    margin-right:7.5%;
    align-content: center;
    margin-top: 20px;
  }

  .elip {
    width: 25px;
    height: 25px;
    padding: 5px;
    border-radius: 15px;
  }

  .elip:hover {
    background-color: lightblue;
  }

  /* for search bars */
  input[type=text] {
    width: 100%;
    background-image: url('../images/magnifier-gray.png');
    background-position: 25px 16px;
    background-size: 17px 17px;
    padding: 12px 20px 12px 50px;
    background-repeat: no-repeat;
    background-color: #f6f9f9;
    color: gray;
    border: 0px solid #f6f9f9;
    border-radius: 25px;
  }

  /* always keep media conditional css at bottom, otherwise, css won't work properly */

  @media only screen and (max-width: 975px) {

    #navbar {
      /*float: left; */
      width: 16%;
      min-width: min-content;
      border: 5px solid orange;
    }

    .main-content {
      display: block;
      overflow-y: scroll;
      height: 800px;
      width: 80%;
      border: 1px solid yellow;
      overflow-x: hidden;
      float:left;
    }

    .secondary-content {
      float: right;
      visibility: hidden;
    }
}

@media only screen and (min-width: 1250px) {


    .nav-link:hover {
    background-color: lightgrey;
    }

    img.navbaricons:hover {
      background-color:unset;
    }

    img.navbaricons {
      vertical-align: middle;
      margin: unset;
      display:inline;
      padding-left: 15px;
      width: fit-content;
    }

    .nav-link {
      height: 50px;
      /* border: 1px solid green; */
      display:inline;
      vertical-align: middle;
      border-radius: 25px;
      padding-left: 20px;
      padding-right: 20px;
      margin-left: 20px;
    }

    #profile-nav-elip {
      display:inline;
      margin-left: auto;
      margin-right: 5px;
    }

    #profile-nav-elip:hover {
      background-color: transparent;
    }


    #profile-nav-text {
      display:inline;
      padding-left: 10px;
      padding-right: 10px;
      /*border: 1px solid green;*/
    }

    #profile-nav-username {
      display: block;
      font-size: 0.8rem;
      font-weight: bold;
      margin-bottom: 0;
      width: fit-content;
    }
    #profile-nav-accountname {
      display: block;
      font-size: 0.8rem;
      margin: 0;
      margin-block-start: 0px;
      margin-block-end: 0px;
      width: fit-content;
    }
    
    #profile-nav-img {
      vertical-align: middle;
      margin: unset;
      margin-left: 10px;
      display:inline;
      width: 40px;
    }

    #profile-nav {
      /*height: 60px;*/
      height: 100%;
      /* border: 1px solid green; */
      display: flex;
      flex-direction: row;
      vertical-align: middle;
      border-radius: 30px;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-left: 20px;
      width:fit-content;
      border: 1px solid red;
    }

    #bottom-nav {
        display: block; /* inline */
        margin: 5px;
        /*vertical-align: middle;*/
        align-items: left;
        /*height: 50px;*/
        width: 100%;
        /* border: 1px solid blue; */
      }   

    #tweeter-navbar {
      align-items: self-end;
      padding: 14px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      /* border: 1px solid green; */
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #tnb {
      padding-left: 0px;
    }

    .nav-item { /* changed from li */
      display: inline;
      margin: 5px;
      vertical-align: middle;
      align-items: left;
      height: 50px;
      width: 100%;
      /* border: 1px solid blue; */
      }   

    .navbar-nav {
      width: 100%;
      align-items:center;
      /* */
    }

    .navbartext {
        display: inline; /* inline-block */
        color: black;
        font-size: 1.25rem;
        vertical-align: middle;
        /* border: 1px solid red; */
        height: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    #navbar {
        width: 22%;
        float: left;
        border: 5px solid orange;
      }

    .main-content {
        display: block; 
        overflow-y: scroll;
        height: 800px;
        width: 48%;
        border: 1px solid purple;
        overflow-x: hidden;
        float:left;
      }

      .secondary-content {
        display: block;
        overflow: scroll;
        height: 800px;
        width: 30%;
        border: 1px solid orange;
        visibility: visible;
        float:right;
      }

    #navbarpost {
      display: inline-block;
      width: 80%;
      background-color: #1DA1F2;
      color: white;
      border-radius: 25px;
      height: 50px;
      border: 0px;
    }

    #navbarpost:hover{
      background-color: #1a8cd3;
    }

    #write-tweet {
      display: none;
    }

}
