/* when making any changes, you will have to collectstatic after 
and add html somewhere, to make them appear, try clicking another then come back and refresh
*/

/* post styling */
  
  img.reactionbaricons{
    width: 15px;
    height: 15px;
  }

  .reactionbar{
    display:inline;
  }

  .postheading{
    display:inline-flex;
  }

  ul {
    list-style: none;
    align-items: center;
  }
  
  li {
    display: inline-flex;
    margin: 10px; /* add spacing between items */
    color: #808080;
    vertical-align: middle;
    align-items: center;
    /*border: 1px solid black;*/
    height: 50px;
  }

  h3 {
    display: inline-flex;
    height: 50px;
    margin: 5px;
    font-size: 12px;
    vertical-align: middle;
    align-items: center;
    border: 1px solid black;
  }

  .post {
    width: 100%;
    border: 1px solid blue;
  }

  .upper-toolbar {
    width:100%;
    align-items: center;
    display: inline-block;
    border: 1px solid black;
  }

  .upt {
    display: inline-block;
    width: 45%;
    text-align: center;
    border: 1px solid black;
    margin: 0px;
  }

  #tbi {
    width: 10%;
    display: inline-block;
    align-self: center;
    border: 1px solid black;
    margin: 0px;
  }


