<div *ngIf="show">

    <div id="login-modal-container" class="modal-content">

        <form id="login-page-modal">
            <div id="modal-header">
                <div class="close-button-container">
                    <img (click)="hideModal()" id="close-button" [src]="setUrl('cross.svg')" alt="close">
                </div>
                <img id="modal-logo" [src]="setUrl('tweeter-logo-blue.png')">
            </div>

            <div class="modal-content-area">

                <h1 id="modal-title"> Enter your login information</h1>
                <input type="text" id="username-input" placeholder="Username">

                <div id="password-input-container">
                    <input [type]="getPValue()" id="password-input" placeholder="Password">
                    <div class="show-button-container">
                        <img (click)="updatePValue()" id="show-p-button" [src]="setUrl('eye.svg')" alt="show">
                    </div>
                </div>
                
            </div>

            <div id="modal-footer">
                <button id="modal-login-button">Login</button>
                <div id="footer-blurb">
                    <p>Don't have an account?</p>
                    <a href="">Sign up</a>
                </div>
            </div>
        </form>

    </div>

</div>
