<div *ngIf="show">

    <div id="login-modal-container" class="modal-content">

        <form id="login-page-modal" [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
            <div id="modal-header">
                <div id="modal-header-top">
                    <div class="close-button-container">
                        <img (click)="hideModal()" id="close-button" [src]="setUrl('cross.svg')" alt="close">
                    </div>
                    <img id="modal-logo" [src]="setUrl('tweeter-logo-blue.png')">
                </div>
                <div id="form-status-message-bad-m" *ngIf="this.submit_flag == 1">Incorrect account name or password!</div>
                <div id="form-status-message-good-m" *ngIf="this.loginForm.controls['acc_name'].untouched && this.submit_flag == 2"> Login successful!</div>
                <div id="form-status-message-loading-m" *ngIf="this.submit_flag == 3">Loading . . .</div>
            </div>

            <div class="modal-content-area" id="login-modal-content">

                <h1 id="modal-title"> Enter your login information</h1>
                <div class="form-input-container">
                    <input type="text" id="username-input" placeholder="Account Name" formControlName="acc_name" [style]="isValidInput(this.loginForm.controls['acc_name'])" required>
                    <div class="error-message" *ngIf="this.loginForm.controls['acc_name'].errors?.['required'] && this.loginForm.controls['acc_name'].touched || this.loginForm.controls['acc_name'].errors?.['required'] && submit_flag == 1">Account Name is required!</div> 
                
                </div>

                <div class="form-input-container">
                    <div class="password-input-container">
                        <input [type]="this.p_value" id="password-input1" placeholder="Password" formControlName="password" [style]="isValidInput(this.loginForm.controls['password'])" required>
                        <div class="show-button-container">
                            <img (click)="updatePValue()" id="show-p-button" [src]="setUrl('eye.svg')" alt="show">
                        </div>
                    </div>
                    <div class="error-message" *ngIf="this.loginForm.controls['password'].errors?.['required'] && this.loginForm.controls['password'].touched || this.loginForm.controls['password'].errors?.['required'] && submit_flag == 1">Password is required!</div>
                </div>
                <!-- <p> {{ loginForm.value| json }} valid: {{ loginForm.valid}}</p> -->
            </div>

            <div id="modal-footer">
                <button class="modal-footer-button" id="modal-login-button">Login</button>
                <div id="footer-blurb">
                    <p>Don't have an account?</p>
                    <button class="open-modal-button" (click)="closeAndOpen()" >Sign up</button>
                </div>
            </div>
        </form>

    </div>

</div>
