$bg-color-hover-nav-tool-bar: rgba(0, 0, 0, 0.090);
$twitter-blue: #1DA1F2;
$gray-font: rgb(97, 110, 124);

#login-modal-container{
  z-index: 2;
  display: flex;
  background-color: rgba(0, 0, 0, 0.300);
  top: 0;
  left: 0;
  position: fixed;
  justify-content: center;
  align-items: center;
}

#login-page-modal{ 
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 90%;
  min-height: 400px;
  background-color: white;
  border: 0;
  border-radius: 25px;
}

#modal-header{
  position: sticky;
  position: -webkit-sticky;
  display: flex;
  flex-direction: column;
  min-height: fit-content;
  height: fit-content;
  width: 100%;
  align-items: center;
  background-color: white;
  border-radius: 25px;
  margin: 0;

    #modal-logo{
      width: 45px;
      height: 45px;
      margin-left: 37%;
      margin-top: 5px;
    }
  }
  #modal-header-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    width: 100%;
  }

  #form-status-message-good{
    color: white;
    background-color: rgba(0, 128, 0, 0.6);
    padding: 3px;
    border-radius: 5px;
    margin: 2px;
  }
  #form-status-message-bad{
    color: white;
    background-color: rgba(255, 0, 0, 0.6);
    padding: 3px;
    border-radius: 5px;
    margin: 2px;
  }

  .close-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 15px;

    #close-button{
      width: 17px;
      height: 17px;
      padding: 2px;
      border: 0;
    }
}
.close-button-container:hover{
  background-color: $bg-color-hover-nav-tool-bar;
}

.show-button-container{
  position: absolute; 
  top: 50%; 
  right: 10px; 
  border: none; 
  background-color: transparent; 
  cursor: pointer;
  transform: translateY(-50%); 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  
  #show-p-button{

    width: 20px;
    height: 20px;
    padding: 0;
    border: 0;
  }

}
.show-button-container:hover{
  background-color: $bg-color-hover-nav-tool-bar;
}

#signup-modal-content{
  height: 100%;
  min-height: 200px;
  margin-bottom: 15px;
}

#dob-selectors{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 450px;
  gap: 20px;
  select{
    min-height: 60px;
    height: 60px;
    width: fit-content;
    border-radius: 3px;
    border: 1px solid lightgray;
    font-size: 1.2rem;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    appearance: none;
    -webkit-appearance:none
  }
  select:focus{
    outline: 0;
    border: 2px solid $twitter-blue
  }
  
  select:focus + label{
    color: $twitter-blue;
  }
}

.form-input-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-message{
  color: red;
  font-size: 0.8rem;
  margin: 0;
}

#login-modal-content{
  min-height: 200px;
}

.modal-content-area{
  overflow-y: scroll;
  height: 250px;
  min-height: 100px;
  padding-top: 15px;
  margin-bottom: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;

  #modal-title{
    width: 450px;
    font-size: 2rem;
    color: black;
    font-weight: bold;
  }

  .label-wrapper{
    position: relative; 
    display: inline-block;

      label{
        position: absolute; 
        top: 5px; 
        left: 10px;
        font-size: 0.8rem;
        color: lightgray;
      }
  }
  
  .password-input-container{
    position: relative; 
    display: inline-block;
  }

  input{
    width: 450px;
    min-height: 60px;
    height: 60px;
    border-radius: 3px;
    border: 1px solid lightgray;
    font-size: 1.2rem;
    background-image: unset;
    background-position: unset;
    background-size: unset;
    padding: unset;
    background-repeat: unset;
    background-color: unset;
    color: unset;
    padding-left: 10px;
  }
  input::placeholder{
    font-size: 1.2rem;
    color: $gray-font;
    
  }

  input:focus::placeholder{
    padding-bottom: 35px;
    font-size: 0.8rem;
    color: $twitter-blue;
    
  }
  input:focus{
    outline: 0;
    border: 2px solid $twitter-blue
  }
/*
  #username-input{
    padding-right: 20px;
  }

  #password-input1{
    padding-right: 40px;
  }
  #password-input2{
    padding-right: 40px;
  }*/
}

#dob-blurb{
  width: 450px;

  #dob-title{
    font-size: 1rem;
    color: black;
    margin: 0;
    font-weight: bold;
  }
  #dob-text{
    font-size: 0.9rem;
    color: $gray-font;
    margin: 0;
  }
}

#modal-footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 150px;
  width: 100%;
  gap: 15px;
  border-top: 1px solid lightgray;

  #modal-login-button{
    background-color: $gray-font;
  }/*
  #modal-login-button:hover{
    background-color: rgba(97, 110, 124, 0.800);
  }*/

  #modal-signup-button{
    background-color: $twitter-blue;
  }/*
  #modal-signup-button:hover{
    background-color: #1da0f2cb;
  }*/
  .modal-footer-button{
    color: white;
    background-color: $gray-font;
    font-size: 1rem;
    font-weight: bold;
    height: 50px;
    width: 450px;
    border-radius: 25px;
    border: 0;
  }
/*
  #modal-login-button:hover{
    background-color: rgba(97, 110, 124, 0.800);
  }*/

  #footer-blurb{
    width: 450px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    p{
      font-size: 0.9rem;
      color: $gray-font;
      margin: 0;
    }
    .open-modal-button{
      border: 0;
      text-decoration: underline;
      color: $twitter-blue;
      font-size: 0.9rem;
      background: transparent;
      padding: 0;
    }
  }
}

