$bg-color-hover-main: rgba(0, 0, 0, 0.030);
$bg-color-hover-nav-tool-bar: rgba(0, 0, 0, 0.090);
$twitter-blue: #1DA1F2;
$gray-font: rgb(97, 110, 124);

#login-modal-container{
  z-index: 2;
  display: flex;
  background-color: rgba(0, 0, 0, 0.300);
  top: 0;
  left: 0;
  position: fixed;
  justify-content: center;
  align-items: center;
}

#login-page-modal{ 
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 90%;
  min-height: 400px;
  background-color: white;
  border: 0;
  border-radius: 25px;

}

#modal-header{
  position: sticky;
  position: -webkit-sticky;
  //top: 0;
  display: flex;
  flex-direction: row;
  min-height: 60px;
  height: 60px;
  width: 100%;
  align-items: center;
  //border: 1px solid red;
  background-color: white;
  border-radius: 25px;
  margin: 0;

    #modal-logo{
      width: 45px;
      height: 45px;
      margin-left: 37%;
    }

  }

  .close-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 15px;

    #close-button{
      width: 17px;
      height: 17px;
      padding: 2px;
      border: 0;
    }

}
.close-button-container:hover{
  background-color: $bg-color-hover-nav-tool-bar;
}

 
.show-button-container{
  position: absolute; 
  top: 50%; 
  right: 10px; 
  border: none; 
  background-color: transparent; 
  cursor: pointer;
  transform: translateY(-50%); 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  //margin-left: 15px;
  
  #show-p-button{

    width: 20px;
    height: 20px;
    padding: 0;
    border: 0;
  }

}
.show-button-container:hover{
  background-color: $bg-color-hover-nav-tool-bar;
}

#signup-modal-content{
  height: 500px;
  min-height: 200px;
}

#dob-selectors{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 450px;
  gap: 20px;
  select{
    min-height: 60px;
    height: 60px;
    width: fit-content;
    border-radius: 3px;
    border: 1px solid lightgray;
    font-size: 1.2rem;
    padding-left: 10px;
    background-color: white;
    appearance: none;
    -webkit-appearance:none
  }
  select:focus{
    outline: 0;
    border: 2px solid $twitter-blue
  }
  //need to find out how to do this for sibling element (label has to be blue)
  select:focus + label{
    color: $twitter-blue;
  }
}


.modal-content-area{
  overflow-y: scroll;
  height: 250px;
  min-height: 100px;
  padding-top: 15px;
  //min-height: fit-content;
  margin-bottom: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;

  #modal-title{
    width: 450px;
    font-size: 2rem;
    color: black;
    font-weight: bold;
  }

  .label-wrapper{
    position: relative; 
    display: inline-block;

      label{
        position: absolute; 
        top: 10px; 
        left: 10px;
        font-size: 0.8rem;
        color: lightgray;
        //transform: translateY(-50%); 
      }
  }
  
  #password-input-container{
    position: relative; 
    display: inline-block;
    //display: flex;
    //flex-direction: row;
    //justify-content: center;
    //align-items: center;
    //width: 525px;
    //gap: 10px;
  }

  input{
    width: 450px;
    min-height: 60px;
    height: 60px;
    border-radius: 3px;
    border: 1px solid lightgray;
    font-size: 1.2rem;
    background-image: unset;
    background-position: unset;
    background-size: unset;
    padding: unset;
    background-repeat: unset;
    background-color: unset;
    color: unset;
    padding-left: 10px;
  }
  input::placeholder{
    font-size: 1.2rem;
    color: $gray-font;
    //margin-left: 10px;
    
  }

  input:focus::placeholder{
    padding-bottom: 35px;
    font-size: 0.8rem;
    color: $twitter-blue;
    
  }
  input:focus{
    outline: 0;
    border: 2px solid $twitter-blue
  }

  #username-input{
    padding-right: 20px;
  }

  #password-input{
    padding-right: 40px;
  }
}


#modal-footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 150px;
  width: 100%;
  gap: 15px;
  border-top: 1px solid lightgray;

  #modal-login-button{
    color: white;
    background-color: $gray-font;
    font-size: 1rem;
    font-weight: bold;
    height: 50px;
    width: 450px;
    border-radius: 25px;
    border: 0;
  }

  #modal-login-button:hover{
    background-color: rgba(97, 110, 124, 0.800);
  }

  #footer-blurb{
    width: 450px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    p{
      font-size: 0.9rem;
      color: $gray-font;
    }
    a{
      font-size: 0.9rem;
      color: $twitter-blue;
    }
  }

}

