<div *ngIf="show">

    <div id="login-modal-container" class="modal-content">

        <form id="login-page-modal">
            <div id="modal-header">
                <div class="close-button-container">
                    <img (click)="hideModal()" id="close-button" [src]="setUrl('cross.svg')" alt="close">
                </div>
                <img id="modal-logo" [src]="setUrl('tweeter-logo-blue.png')">
            </div>

            <div class="modal-content-area" id="signup-modal-content">

                <h1 id="modal-title">  Create your account</h1>
                <input type="text" id="name-input" placeholder="Name">
                <input type="email" id="email-input" placeholder="Email">
                
                <div id="dob-selectors">
                    <div class="label-wrapper">
                    <label>Month</label>
                        <select name="months" id="month-input">
                            <option value=""></option>
                            <option value="1">January</option>
                            <option value="2">February</option>
                            <option value="3">March</option>
                            <option value="4">April</option>
                            <option value="5">May</option>
                            <option value="6">June</option>
                            <option value="7">July</option>
                            <option value="8">August</option>
                            <option value="9">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                    </div>
                    <div class="label-wrapper">
                        <label>Day</label>
                        <select name="days" id="day-input">
                            <option value=""></option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <!-- all the way to 31-->
                        </select>
                    </div>
                    <div class="label-wrapper">
                        <label>Year</label>
                        <select name="years" id="year-input" *ngFor="let o of placeholderArray; let i = index; first as isFirst" >
                            <div *ngIf="isFirst" >
                                <option value=""></option>
                            </div>
                            <option value={{2024 - i}}> {{2024 - i}} </option>
                        </select>
                    </div>
                
                </div>
                <input type="text" id="username-input" placeholder="Username">

                <div id="password-input-container">
                    <input [type]="getPValue()" id="password-input" placeholder="Password">
                    <div class="show-button-container">
                        <img (click)="updatePValue()" id="show-p-button" [src]="setUrl('eye.svg')" alt="show">
                    </div>
                </div>

                <div id="password-input-container">
                    <input [type]="getPValue()" id="password-input" placeholder="Password">
                    <div class="show-button-container">
                        <img (click)="updatePValue()" id="show-p-button" [src]="setUrl('eye.svg')" alt="show">
                    </div>
                </div>
                
            </div>

            <div id="modal-footer">
                <button id="modal-login-button">Login</button>
                <div id="footer-blurb">
                    <p>Don't have an account?</p>
                    <a href="">Sign up</a>
                </div>
            </div>
        </form>

    </div>

</div>