<div *ngIf="show">

    <div id="login-modal-container" class="modal-content">

        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" id="login-page-modal" >
            <div id="modal-header">
                <div id="modal-header-top">
                    <div class="close-button-container">
                        <img (click)="hideModal()" id="close-button" [src]="setUrl('cross.svg')" alt="close">
                    </div>
                    <img id="modal-logo" [src]="setUrl('tweeter-logo-blue.png')">
                </div>
                <div id="form-status-message-bad-m" *ngIf="this.signupForm.invalid && submit_flag == 1"> Account not created. Please fix incorrect inputs!</div>
                <div id="form-status-message-good-m" *ngIf="this.signupForm.controls['username'].untouched && submit_flag == 2"> Account created successfully!</div>
            </div>

            <div class="modal-content-area" id="signup-modal-content">

                <h1 id="modal-title">  Create your account</h1>  
                
                <div class="form-input-container">
                    <input type="text" id="username-input" placeholder="Username" formControlName="username" [style]="isValidInput(this.signupForm.controls['username'])" minlength="3" maxlength="25" required>
                    <div class="error-message" *ngIf="this.signupForm.controls['username'].errors?.['required'] && this.signupForm.controls['username'].touched || this.signupForm.controls['username'].errors?.['required'] && submit_flag == 1">Username is required!</div> 
                    <div class="error-message" *ngIf="this.signupForm.controls['username'].errors?.['minlength'] || this.signupForm.controls['username'].errors?.['maxlength'] "> Username must be within 3 - 25 characters!</div>
                </div>

                <div class="form-input-container">                                                          
                    <input type="email" id="email-input" placeholder="Email" formControlName="email" [style]="isValidInput(this.signupForm.controls['email'])" required>
                    <div class="error-message" *ngIf="this.signupForm.controls['email'].errors?.['required'] && this.signupForm.controls['email'].touched || this.signupForm.controls['email'].errors?.['required'] && submit_flag == 1">Email is required!</div>
                    <div class="error-message" *ngIf="this.signupForm.controls['email'].errors?.['email']">Input must be a valid email!</div>
                </div>

                <div id="dob-blurb">
                    <h1 id="dob-title">Date of birth</h1>
                    <p id="dob-text">This will not be shown publicly. Confirm your own age, even if this account is for a business, a pet, or something else.</p>
                </div>

                <div class="form-input-container" formGroupName="dob">
                    <div id="dob-selectors">
                        <div class="label-wrapper">                           
                            <select name="months" id="month-input" formControlName="month" [style]="isValidInputDate(this.signupForm.get('dob.month'), 'month')" required>
                                <option value=""></option>
                                <option value="1">January</option>
                                <option value="2">February</option>
                                <option value="3">March</option>
                                <option value="4">April</option>
                                <option value="5">May</option>
                                <option value="6">June</option>
                                <option value="7">July</option>
                                <option value="8">August</option>
                                <option value="9">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                            <label>Month</label>
                        </div>
                        <div class="label-wrapper">               
                            <select name="days" id="day-input" formControlName="day" [style]="isValidInputDate(this.signupForm.get('dob.day'), 'day' )" required>
                                <option value=""></option>
                                <option *ngFor="let o of dayPlaceholderArray; let i = index;" value="{{i + 1}}">{{i + 1}}</option>  
                            </select>
                            <label>Day</label>
                        </div>
                        <div class="label-wrapper">                     <!-- [style]="isValidInput(this.signupForm.controls['year'].errors == null)" -->
                            <select name="years" id="year-input" formControlName="year" [style]="isValidInputDate(this.signupForm.get('dob.year'), 'year')" required>
                                <option value=""></option>
                                <option *ngFor="let o of yearPlaceholderArray; let i = index;" value="{{2024 - i}}">{{2024 - i}}</option>   
                            </select>
                            <label>Year</label>
                        </div>
                
                    </div>

                    <div class="error-message" *ngIf="this.signupForm.get('dob.day')?.errors?.['required'] && this.signupForm.get('dob.day')?.touched || this.signupForm.get('dob.day')?.errors?.['required'] && submit_flag == 1 || this.signupForm.get('dob.month')?.errors?.['required'] && this.signupForm.get('dob.month')?.touched || this.signupForm.get('dob.month')?.errors?.['required'] && submit_flag == 1 ||this.signupForm.get('dob.year')?.errors?.['required'] && this.signupForm.get('dob.year')?.touched || this.signupForm.get('dob.year')?.errors?.['required'] && submit_flag == 1">Date of Birth is required!</div> 
                    <div class="error-message" *ngIf="this.signupForm.get('dob')?.errors?.['underAge']">Must be at least 16 to sign up!</div> 
                                                                                            
                </div>

                <div class="form-input-container">
                    <input type="text" id="name-input" placeholder="Account name" formControlName="acc_name" [style]="isValidInput(this.signupForm.controls['acc_name'])" minlength="5" maxlength="25" required>
                    <div class="error-message" *ngIf="this.signupForm.controls['acc_name'].errors?.['required'] && this.signupForm.controls['acc_name'].touched || this.signupForm.controls['acc_name'].errors?.['required'] && submit_flag == 1;else second"> Account Name is required!</div>
                    <ng-template #second>
                        <div class="error-message" *ngIf="this.signupForm.controls['acc_name'].errors?.['minlength'] || this.signupForm.controls['acc_name'].errors?.['maxlength']; else third"> Name must be within 5 - 25 characters!</div>
                    </ng-template>
                    <ng-template #third>
                        <div class="error-message" *ngIf="submit_flag == 1 && unique_flag == 1"> Account name already taken! Please change.</div>
                    </ng-template>
                </div>

                <div class="form-input-container">
                    <div class="password-input-container">                                                    
                        <input [type]="this.p_value" id="password-input1" placeholder="Password" formControlName="password1" [style]="isValidInput(this.signupForm.controls['password1'])" minlength="8" maxlength="25" required>
                        <div class="show-button-container">
                            <img (click)="updatePValue()" id="show-p-button" [src]="setUrl('eye.svg')" alt="show">
                        </div>
                    </div>
                    <div class="error-message" *ngIf="this.signupForm.controls['password1'].errors?.['required'] && this.signupForm.controls['password1'].touched || this.signupForm.controls['password1'].errors?.['required'] && submit_flag == 1">Password is required!</div>
                    <div class="error-message" *ngIf="this.signupForm.controls['password1'].errors?.['minlength'] || this.signupForm.controls['password1'].errors?.['maxlength'] "> Password must be within 8 - 25 characters!</div>
                </div>

                <div class="form-input-container">
                    <div class="password-input-container">                                                 <!-- [style]="isValidInput(this.signupForm.controls['password2'].errors == null)" -->
                        <input [type]="this.p_value" id="password-input2" placeholder="Re-enter Password" formControlName="password2" [style]="isValidInput(this.signupForm.controls['password2'])" required>
                        <div class="show-button-container">
                            <img (click)="updatePValue()" id="show-p-button" [src]="setUrl('eye.svg')" alt="show">
                        </div>
                    </div>
                    <div class="error-message" *ngIf="this.signupForm.controls['password2'].errors?.['required'] && this.signupForm.controls['password2'].touched || this.signupForm.controls['password2'].errors?.['required'] && submit_flag == 1">Re-enter password!</div>
                    <div class="error-message" *ngIf="submit_flag == 1 && password_flag ==1">Passwords do not match!</div> 
                </div>

            </div>

            <div id="modal-footer">          
                <button type="submit" class="modal-footer-button" id="modal-signup-button">Create Account</button>
                <div id="footer-blurb">
                    <p>Already have an account?</p>
                    <button class="open-modal-button" (click)="closeAndOpen()">Login</button>
                </div>
            </div>
        </form>

    </div>

</div>