/* Styling used on all pages */


/* navigation bar */

  #navbar {
  float: left;
  width: 8%;
  min-width: min-content;
  border: 5px solid orange;
  }

  .navbartext {
  display:none;
  }

  #write-tweet {
    width: 50px;
    height: 50px;
    text-align: center;
  }

  #navbarpost {
    display: none;
  }

  /*
  img.navbaricons {
    width: 50px;
    height: 50px;
    padding: 12px;
    border-radius: 15px;
  }
  */
  img.navbaricons {
    width: 22px;
    height: 22px;
  }


  /*
  img.navbaricons:hover {
    background-color: lightgrey;
  }
  */

  .nav-link:hover {
    background-color: lightgrey;
  }

  /*
  .nav-link {
    align-items: self-end;
    padding: 15px;
    width: 100%;
    border-radius: 15px;
    border: 1px solid green;
    height: 50px;
  }
  */

  .nav-link {
    align-items: self-end;
    padding: 14px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar-nav {
    width: 100%;
    align-items:self-end;
  }


.main-content {
    display: block;
    overflow-y: scroll;
    height: 800px;
    width: 58%;
    border: 1px solid purple;
    overflow-x: hidden;
    float:left;
  }

.secondary-content {
    display: block;
    overflow: scroll;
    height: 800px;
    width: 34%;
    border: 1px solid orange;
    visibility: visible;
    float:right;
  }

#toolbar-icon {
    width: 25px;
    height: 25px;
    display: inline-block;
}

body {
    width: 100%;
    overflow-x: hidden;
  }


ul {
    list-style: none;
    align-items: center;
   /* width: 100%; */
  }
  
li {
    margin: 10px;
    vertical-align: middle;
    align-items: center;
    height: 50px;
   /* width: 100%; */
  }

  /* width */
  .main-content::-webkit-scrollbar {
    display: none;
  }

  .secondary-content::-webkit-scrollbar {
    width: 10px;
    border: 5px 5px;
  }

  /* Track */
  .secondary-content::-webkit-scrollbar-track {
    background: white; 
  }
  
  /* Handle */
  .secondary-content::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  .secondary-content::-webkit-scrollbar-thumb:hover{
    background: #555; 
  }

  .toolbar {
    width: 100%;
  }

  .panes 
  {
    background-color: #f6f9f9;
    border-radius: 25px;
    width: 85%;
    margin-left:7.5%;
    margin-right:7.5%;
    align-content: center;
    margin-top: 20px;
  }

  .elip {
    width: 25px;
    height: 25px;
    padding: 5px;
    border-radius: 15px;
  }

  .elip:hover {
    background-color: lightblue;
  }

  /* for search bars */
  input[type=text] {
    width: 100%;
    background-image: url('../images/magnifier-gray.png');
    background-position: 25px 16px;
    background-size: 17px 17px;
    padding: 12px 20px 12px 50px;
    background-repeat: no-repeat;
    background-color: #f6f9f9;
    color: gray;
    border: 0px solid #f6f9f9;
    border-radius: 25px;
  }

  /* always keep media conditional css at bottom, otherwise, css won't work properly */

  @media only screen and (max-width: 975px) {

    #navbar {
      /*float: left; */
      width: 16%;
      min-width: min-content;
      border: 5px solid orange;
    }

    .main-content {
      display: block;
      overflow-y: scroll;
      height: 800px;
      width: 80%;
      border: 1px solid yellow;
      overflow-x: hidden;
      float:left;
    }

    .secondary-content {
      float: right;
      visibility: hidden;
    }
}

@media only screen and (min-width: 1250px) {


    .nav-link:hover {
    background-color: lightgrey;
    }

    img.navbaricons:hover {
      background-color:unset;
    }

    img.navbaricons {
      vertical-align: middle;
      margin: unset;
      display:inline;
      padding-left: 10px;
      width: fit-content;
    }

    .nav-link {
      height: 50px;
      /* border: 1px solid green; */
      display:inline;
      vertical-align: middle;
      border-radius: 25px;
      padding-left: 20px;
      padding-right: 20px;
      margin-left: 20px;
      
      /*align-items: center;
      
      
      
      padding: unset;
      */
    }

    #tweeter-navbar {
      align-items: self-end;
      padding: 14px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      /* border: 1px solid green; */
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .nav-item { /* changed from li */
      display: inline;
      margin: 10px;
      vertical-align: middle;
      align-items: left;
      height: 60px;
      width: 100%;
      /* border: 1px solid blue; */
      }   

    .navbar-nav {
      width: 100%;
      align-items:center;
      /* */
    }

    .navbartext {
        display: inline; /* inline-block */
        color: black;
        font-size: 1.5rem;
        font-weight: bold;
        vertical-align: middle;
        /* border: 1px solid red; */
        height: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    #navbar {
        width: 22%;
        float: left;
        border: 5px solid orange;
      }

    .main-content {
        display: block; 
        overflow-y: scroll;
        height: 800px;
        width: 48%;
        border: 1px solid purple;
        overflow-x: hidden;
        float:left;
      }

      .secondary-content {
        display: block;
        overflow: scroll;
        height: 800px;
        width: 30%;
        border: 1px solid orange;
        visibility: visible;
        float:right;
      }

    #navbarpost {
      display: inline-block;
      width: 80%;
      background-color: #1DA1F2;
      color: white;
      border-radius: 25px;
      height: 50px;
      border: 0px;
    }

    #write-tweet {
      display: none;
    }

}