
input[type=text] {
    width: 100%;
    background-image: url('../images/magnifier-gray.png');
    background-position: 10px 10px; 
    background-size: 25px 25px;
    padding: 12px 20px 12px 40px;
    background-repeat: no-repeat;
    border: 1px solid #808080;
    border-radius: 25px;
  }

  #ellipsis {
    width: 20px;
    height: 20px;
  }

  .all-content {
    display: inline-block;
    overflow: scroll;
    height: 800px;
  }

 /* Navigation Bar */

 #navbar {
    float: left;
    width: 75px;
  }

  img.navbaricons {
    width: 30px;
    height: 30px;
  }

  ul {
    list-style: none;
    align-items: center;
  }
  
  li {
    margin: 10px;
    vertical-align: middle;
    align-items: center;
    height: 50px;
  }

  #write-tweet {
    width: 50px;
    height: 50px;
  }