
<form id="search-form" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <div id="search-bar-and-button">
        <input id="search-searchbar" (focus)="focus = true" (blur)="focus = false" type="text" placeholder="Search" formControlName="inquiry" maxlength="40" required>
        <div *ngIf="searchForm.value.inquiry != ''">
            <img id="search-bar-clear-button" (click)="handleClear()" [src]="service.setUrl('cross-fill.svg')" alt="cross"/> 
            <!-- will change to 'cross-fill.png'-->
        </div>
    </div>

    <div *ngIf="focus">
        
        <div id="searchBarModal" class="">



            <div *ngIf="searchForm.value.inquiry != ''; else emptyInput">

            <!--3 queries max-->
            <div *ngFor="let query of queryList">
                <div>
                    <img id="" [src]="service.setUrl('magnifier.svg')" alt="magnifying glass"/>
                    <p>{{query}}</p>
                </div>
            </div>

            <hr> <!-- separation line-->

            <!--10 users max -->
            <short-profile
            *ngFor="let profile of userList"
            [profile]="profile">
            </short-profile>

            <div>
                <p>Go to &commat;{{searchForm.value.inquiry}}</p>
            </div>

            </div>
            <ng-template #emptyInput>
                <p id="default-text">Try searching for people, lists, or keywords</p>
            </ng-template>

        </div>

    </div>
</form>