$bg-color-hover-main: rgba(0, 0, 0, 0.030);
$bg-color-hover-nav-tool-bar: rgba(0, 0, 0, 0.090);
$twitter-blue: #1DA1F2;
$gray-font: rgb(97, 110, 124);

#searchBarModal{
    position: relative; //new
    //position:fixed;
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    gap: 0px;
    z-index: 100;//was commented out
    width: 100%;
    max-width: 700px;
    height:fit-content;
    max-height: 500px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.500);
    padding: 5px;
    will-change: transform; //prevents glitching in box shadow
  }
  

  #searchBarModal::-webkit-scrollbar {
    display: none;
    }
  
  /* Track */
  /*
  .#searchBarModal::-webkit-scrollbar-track {
    background: white; 
  }*/
  #search-form{
    width: 100%;
  }

  #search-bar-clear-button{
    position: relative;
    height: 25px;
    width:25px;
    z-index: 2;//was commented out
    //top:-40px;
    //left: 460px;
    top: 10px;
    right: 40px;
    //margin-left: -50px;

  }

  hr{
    margin:5px;
  }

  #go-to-container{
    font-size: 0.9rem;
    text-align: left;
    height: 50px;
    width: 100%;

    #go-to-text{
      padding-left:15px;
      padding-top: 15px;
    }
  }
  #go-to-container:hover{
    background-color: $bg-color-hover-main;
  }

  #default-text{
    font-size: 0.9rem;
    color: $gray-font;
    margin:0;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 50px;
  }

  #search-bar-and-button{
    display: flex;
    flex-direction: row;
  }