#elip-div{
  margin-left: auto;
}

#post-new-message-modal{
  position: absolute;
  top: 80px;
  left: 11%;
}

.reactionbar-line{
  margin-top: 0;
  margin-bottom: 0;
}

#user-accname-stack{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

#test-block{
  display:flex;
  flex-direction: row;
}

/* post styling */
.reactionbar{
  display:flex;
  flex-direction: row;
  align-items: center;
  height: 45px;
  margin-left: 7px;

}

.reaction-button{
  height:35px;
  width: fit-content;
  min-width: 35px;
  border: 0;
  background-color: transparent;
  padding: 0;
  margin: 0;
}


.icon-container{
  display: inline;
  align-items: center;
  justify-content: center;
  padding: 7px;
  background-color: transparent;
  border-radius: 50%;
  height: fit-content;
}

#post-profile-img{
    margin: 0;
  }
.post-text{
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 7px;
}
.post-image{
  margin-right: 15px;
  margin-left: 7px;
  max-height: 500px;
  height:fit-content;
  width: fit-content;
  max-width: 98%;
  border-radius: 15px;
  border: 1px solid lightgray;

}

#post-username:hover {
  text-decoration: underline;
}

  .post-content-container{
    display: inline;
    width: 100%;
  }

  .post-profile-container{
    margin-top: 12px;
    margin-left: 17px;
    width: fit-content;
    height: fit-content;  
  }

  #home-searchbar{
    width: 100%;
    max-width: 350px;
    margin-right:auto;
    font-size: 0.95rem;
  }

  #home-form {
    width: 89%;
    height: 50px;
    margin-left:8%;
    margin-top: 5px;
    position:sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: white;
  }

  #home-tab1, #home-tab2{
    width:50%;
  }
  
  .lower-toolbar {
    display: none;
  }

  .toolbar-icon {

    margin-left: 10px;
    margin-bottom: 0px;
  }

  .reactiongroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    height: 40px;
    width: 21%;
  }

  #last-rc {
    width: 14%;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
  }

  .reactionbarvalues {
    display: inline-flex;
    margin: 0px;
    font-size: 0.85rem;
    vertical-align: middle;
    align-items: center;
  }

  .post-content{
    margin-left: 7px;
  }

  .post {
    width: 100%;
    display: inline-flex;
    height: fit-content;
  }

  .e-post-stack{
    display: inline-flex;
    height: fit-content;
    width: 100%;
  }