/* when making any changes, you will have to collectstatic after 
and add html somewhere, to make them appear, try clicking another then come back and refresh
*/
$bg-color-hover-main: rgba(0, 0, 0, 0.030);
$bg-color-hover-nav-tool-bar: rgba(0, 0, 0, 0.090);
$twitter-blue: #1DA1F2;
$gray-font: rgb(97, 110, 124);
$cancel-red: #f51616;
/********************* share modal ********************/

#elip-div{
  margin-left: auto;
}

#post-new-message-modal{
  position: absolute;
  top: 80px;
  left: 11%;
}

#share-modal{
  position:relative;
  display: flex;
  flex-direction: column;
  z-index: 2;
  background-color: white;
  width: fit-content; //width: 200px;
  height: fit-content;
  border-radius: 15px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.200);
  //padding: 15px;
  margin-left: -230px;
  margin-top: 120px;

  hr{
    margin: 0;
    padding: 0;
  }


  #share-modal-delete-container{
    border-radius: 0 0 15px 15px;
  }

  .share-modal-container{
    display: flex;
    flex-direction: row;
    font-size: 0.85rem;
    font-weight: bold;
    color: black;
    height: fit-content;
    border-radius: 15px 15px 0 0;
    padding:5px;
    

      p{
        margin: 5px;
        margin-left: 10px;
        padding: 0;
      }

      img{
        margin-top: 5px;
        margin-left: 10px;
        height: 20px;
        width: 20px;
      }

  }
  .share-modal-container:hover{
    background-color: $bg-color-hover-main;
  }
}


#post-focused-date{
  margin-bottom: 10;
  margin-top: 10px;
  font-size: 0.9rem;
  color: $gray-font;
  margin-left: 7px;
}
.reactionbar-line{
  margin-top: 0;
  margin-bottom: 0;
}

#user-accname-stack{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

#test-block{
  display:flex;
  flex-direction: row;
}

/* post styling */
.reactionbar{
  display:flex;
  flex-direction: row;
  align-items: center;
  height: 45px;
  margin-left: 7px;

}

.reaction-button{
  height:35px;
  width: fit-content;
  min-width: 35px;
  border: 0;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

img.reactionbaricons{
    width: 18px;
    height: 18px;
  }

.icon-container{
  display: inline;
  align-items: center;
  justify-content: center;
  padding: 7px;
  background-color: transparent;
  border-radius: 50%;
  height: fit-content;
}

#post-profile-img{
    margin: 0;
  }
.post-text{
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 7px;
}
.post-image{
  margin-right: 15px;
  margin-left: 7px;
  max-height: 500px;
  height:fit-content;
  width: fit-content;
  max-width: 98%;
  border-radius: 15px;
  border: 1px solid lightgray;

}

#post-username:hover {
  text-decoration: underline;
}

  .post-content-container{
    display: inline;
    width: 100%;
    //margin-left: 7px;
    //margin-right: 7px;
    //padding-left: 7px;
    //padding-right: 7px;
  }

  .post-profile-container{
    margin-top: 12px;
    margin-left: 17px;
    //display: inline;
    width: fit-content;
    height: fit-content;  
  }

  .post-heading{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-left: 14px; //7px
    margin-top: 5px;

      #post-username{
        font-weight: bold;
        color: black;
        font-size: 1rem;
      }
      p{
        margin-bottom: 0;
      }
      #post-accountname-focused{
        margin-left: 0;
      }

      .post-accountname{
        color: $gray-font;
        font-size: 0.95rem;
        margin-left: 5px;
      }

      #post-etime::before {
        content: ".";
        margin-left: 4px;
        margin-right: 4px;
        //vertical-align: super;
      }

      #post-etime{
        color: $gray-font;
        font-size: 0.95rem;
      }

      #post-elip{
        margin-right: 0;
        margin-left: auto;
        width: 32px;
        height: 32px;
        padding: 7px;
        border-radius: 20px;
      }

  }

  .post-profile{
    display:inline;
    margin-left:10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .post:hover {
    background-color: $bg-color-hover-main;
  }
  
  .reactiongroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    height: 40px;
    width: 21%;
  }

  #last-rc {
    width: 14%;
    justify-content: center;
    align-items: center;
    //gap: 5px;
    margin-right: 5px;
  }

  .reactionbarvalues {
    display: inline-flex;
    margin: 0px;
    font-size: 0.85rem;
    vertical-align: middle;
    align-items: center;
  }

  .post-content{
    margin-left: 7px;
  }

  .post {
    width: 100%;
    display: inline-flex;
    //border-top: 1px solid lightgray;
    height: fit-content;
  }

  .e-post-stack{
    display: inline-flex;
    height: fit-content;
    width: 100%;
  }

  .empty-post{
    padding-top: 5px;
    //display: inline-flex;
    display:flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;

    #e-post-input{
      margin-left: 5px;
      margin-top: 15px;
      font-size: 1.25rem;
      color: black;
      border: 0;
      padding-bottom: 20px;
      width: 100%;
      border-bottom: 1px solid lightgray;
      //border: 2px solid green;
      overflow-wrap: normal;
    }
    #e-post-input::placeholder{
      color: $gray-font;
    }
    #e-post-input:focus{
      outline: 0;
      background-color: transparent;
    }

    .selection-bar{
      padding: 5px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 7px;
      width: 96%;
      height: 55px;
      //margin: 5px;
    }

    #form-status-message-good{
      color: white;
      background-color: rgba(0, 128, 0, 0.6);
      padding: 3px;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 5px;
      margin: auto;
      width: fit-content;
    }
    #form-status-message-bad{
      color: white;
      background-color: rgba(255, 0, 0, 0.6);
      padding: 3px;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 5px;
      margin: auto;
      width: fit-content;
    }

    #e-post-button{
      margin-left: auto;
      margin-right: 0;
      background-color: #1DA1F2;
      color: white;
      font-size: 0.95rem;
      font-weight: bold;
      border-radius: 25px;
      width: fit-content;
      padding: 7px 15px;
      border: 0;
    }
    #e-post-button:hover{
      background-color: #1a8cd3;;
    }

    .selection-bar-icons{
      height: 18px;
      width: 18px;
    }

    .e-icon-container{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 7px;
        background-color: transparent;
        border-radius: 50%;
        height: 35px;
        width: 35px;
    }
    .e-icon-container:hover{
      background-color: #1da0f22f;
    }
  }

  #home-searchbar{
    width: 100%;
    max-width: 350px; /*new */
    
    margin-right:auto;
    font-size: 0.95rem;
  }

  #home-form {
    width: 89%;
    height: 50px;
    margin-left:8%;
    margin-top: 5px;
    position:sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: white;
  }

  #home-tab1, #home-tab2{
    width:50%;
  }
  
  .lower-toolbar {
    display: none;
  }

  .toolbar-icon {

    margin-left: 10px;
    margin-bottom: 0px;
  }

  /* always keep media conditional css at bottom, otherwise, css won't work properly */

@media only screen and (min-width: 701px) and (max-width: 975px) {

    #post-new-message-modal{
      left: 18%;
    }

}

@media only screen and (min-width: 976px) and (max-width: 1079px) {

  #post-new-message-modal{
    left: 9%;
  }
}

@media only screen and (min-width: 1080px) and (max-width: 1249px) {

  #post-new-message-modal{
    left: 13%;
  }

}


  @media only screen and (min-width: 1250px) {

    #home-form{
      margin-left:5%;
    }
    #post-new-message-modal{
      left: 23%;
    }
  }
