
<div id="mc" class="main-content">

  <div class="toolbar">
    <div class="upper-toolbar">
    <!-- upper toolbar add here-->
      <div id="home-tab1" class="toolbar-tabs">
          <div class="tab-container">
            <button (click)="service.routeToChild('foryou')" class="tab-item" id="tab-text" [style]="service.getMarkerStyles(1)"> For you</button>
            <div class="tab-item" id="marker" [style]="service.displayMarker(1)"></div>
          </div>
      </div>

      <div id="home-tab2" class="toolbar-tabs">
        <div class="tab-container">
          <button (click)="service.routeToChild('following')" class="tab-item" id="tab-text" [style]="service.getMarkerStyles(2)"> Following</button>
          <div class="tab-item" id="marker" [style]="service.displayMarker(2)"></div>
        </div>
      </div>

      <div class="title-icons">
        <img class="toolbar-icon" [src]="service.setUrl('cog.svg')" alt="cog"/>
      </div>

    </div>
    <div class="lower-toolbar">
<!-- lower toolbar add here-->
    </div>
  </div>

<!-- main content add here-->

<div>
  <button (click)="service.handleGetAll()">Get All</button>
  <button (click)="service.handleUploadImage()"> Upload Image</button>
  <button (click)="service.handleDeleteImage()">Delete Image</button>
  <!-- <button (click)="service.tryLocalStorage()">local storage</button> -->
  <!--<button (click)="service.handleGetImage()">Get Image</button> -->
  <!--<button (click)="changeImage()">change Image</button> -->
</div>
<div class="empty-post">

  <div id="form-status-message-good" *ngIf="this.submit_flag == 2"> Tweet Added!</div>
  <div id="form-status-message-bad" *ngIf="this.submit_flag == 1">Invalid Tweet!</div>
  
  <div class="e-post-stack"> 

    <div class="post-profile-container">
      <img id="post-profile-img" class="post-profile" [src]="service.setUrl(pic)" alt="profile"/>
    </div>
    <div class="post-content-container">

      <form [formGroup]="tweetForm" id="test-block">
        <input id="e-post-input" formControlName="text_content" [style]="isValidInput2()"  placeholder="What is happening?!">
      </form>

      <div class="selection-bar">
        <div class="e-icon-container"> 
          <img [src]="service.setUrl('landscape.png')" class="selection-bar-icons" alt="Media"/>
        </div>
        <div class="e-icon-container"> 
          <img [src]="service.setUrl('poll.png')" class="selection-bar-icons" alt="GIF"/>
        </div>
        <div class="e-icon-container">
          <img [src]="service.setUrl('emoji.png')" class="selection-bar-icons" alt="Poll"/>
        </div>
        <div class="e-icon-container">
          <img [src]="service.setUrl('schedule.png')" class="selection-bar-icons" alt="Emoji"/>
        </div>
        <div class="e-icon-container">
          <img [src]="service.setUrl('location.png')" class="selection-bar-icons" alt="Schedule"/>
        </div>
        <button (click)="this.postClick(0)" id="e-post-button">Post</button>
      </div>
    </div>

  </div>


</div>

<!--<router-outlet name="followingFeed"></router-outlet>
<router-outlet name="forYouFeed"></router-outlet>-->
<!--<router-outlet ></router-outlet>-->
<main-content [data]=arrs [upc]=this [page]=service.current_page [tab]=service.current_tab></main-content>
<!--
{% for post in forYouFeed %}
{% include "post.html" with profile=post.profile username=post.username acc_name=post.acc_name e_time=post.e_time text=post.text image=post.image comments=post.comments retweets=post.retweets likes=post.likes  views=post.views %}
{% endfor %}
-->
</div>

<div id="sc" class="secondary-content">
  <!-- secondary content add here-->

  <div id="home-form">
    <search-bar id="home-searchbar"></search-bar>
  </div>
  <!--
  <form id="home-form">
    <input id="home-searchbar" type="text" placeholder="Search">
  </form>
  -->

  <div class="panes">
    <div class="pane-container">
      <h3 class="pane-title">What's Happening</h3>
    </div>

    <secondary-content [pane]='1' [page]=service.current_page [tab]=service.current_tab></secondary-content>
<!--
    {% for topic in topics %}
      {% include "searchCard.html" with obj=topic %}
    {% endfor %}
-->
    <div id="pane-more" class="pane-container">
      <a (click)="service.setCurrentPage('Explore')" routerLink="/tweeter/Explore" class="pane-more">Show more</a>
    </div>
  </div>

  <div class="panes">
    <div class="pane-container">
      <h3 class="pane-title">Who to follow</h3>
    </div>

    <secondary-content [pane]='2' [page]=service.current_page [tab]=service.current_tab></secondary-content>
<!--
    {% for profile in profiles %}
    {% include "shortProfile.html" with profile=profile button="yes" count=forloop.counter %}
    {% endfor %}
-->
    <div id="pane-more" class="pane-container">
      <a class="pane-more">Show more</a>
    </div>
  </div>

</div>

<div class="modal-content">
<!-- modal content add here-->
  <div id="test-modal"></div>
<!--<profile-modal [(show)]='show_modal' [profile]='modal_profile'></profile-modal>-->
  <!--
  {% for profile in profiles %}
  {% include "profileModal.html" with profile=profile count=forloop.counter %}
  {% endfor %}
    -->

</div>
