/* You can add global styles to this file, and also import other style files */

/* <----------------------------------------  search card  ----------------------------------------> */   

.searchCard{
    width:100%;
    height:fit-content;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items:center;
    padding: 5px;
    vertical-align: middle;
    padding-left: 15px;
    /*border: 1px solid red;*/
  }
  
  .searchCard:hover {
    background-color: rgba(0, 0, 0, 0.100);
  }
  
  .sc-content {
    flex: flex;
    flex-direction: column;
  }
  
  .sc-text {
    display: block;
    font-size: 0.9rem;
    color: rgb(97, 110, 124);
    width:fit-content;
    height: fit-content;
    margin-bottom: 0;
  }
  
  .sc-textgroup{
    display: flex;
    flex-direction: row;
    align-items: end;
    gap:0;
  }
  
  #sc-category::after {
    content: ".";
    margin-left: 4px;
    margin-right: 4px;
    vertical-align: super;
  }
  
  .sc-topic {
    display: block;
    font-weight: bold;
    font-size: 1rem;
    color: black;
    width:fit-content;
    height: fit-content;
    margin-bottom: 0;
  }
  
  #sc-elip {  
    width: 35px;
    height: 35px;
    padding: 8px;
    margin-right: 0;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: auto;
    border-radius: 50%;
  }
  
  /* <----------------------------------------  profile modal  ----------------------------------------> */   
  
  .modal-content {
    z-index: 2;
    height: 100%;
    width: 100%;
  }
  
  .profileModal {
    display: none;
    flex-direction: column;
    gap: 0px;
    /*z-index: 2;*/
    width: 300px;
    height: fit-content;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.200);
    padding: 15px;
  }
  /*
  .profileModal:hover{
    display: flex;
  }
  */
  
  .pm-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 0px;
    margin-right: auto;
  }
  .pm-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
  }
  
  .pm-username {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0px;
  }
  
  .pm-username:hover {
    text-decoration: underline;
  }
  
  .pm-accountname {
    font-size: 1rem;
    color: gray;
    margin-bottom: 10px;
  }
  .pm-bio {
    font-size: 1rem;
    margin-bottom: 0px;
  }
  
  .pm-num {
    color: black;
  }
  
  .pm-footer {
    display: flex;
    flex-direction: row;
    font-size: 0.9rem;
    color: gray;
    margin-top: 10px;
  }
  
  .pm-following{
    margin-right: 20px;
    margin-bottom: 0px;
  }
  
  .pm-following:hover {
    text-decoration: underline;
    text-decoration-color: black;
  }
  
  .pm-followers {
    margin-bottom: 0px;
  }
  
  .pm-followers:hover {
    text-decoration: underline;
    text-decoration-color: black;
  }
  
  .pm-button {
    color: white;
    background-color: black;
    border-radius: 20px;
    border: 0px;
    margin-left: auto;
    margin-right: 0px;
    font-weight: bold;
    font-size: 1rem;
    padding-left: 15px;
    padding-right: 15px;
    height: 40px;
  
  }
  
  .pm-button:hover {
    background-color: rgba(0, 0, 0, 0.700);
  }
  
  /*
  #shortProfile-img:hover + .profileModal {
    display:flex;
    border: 1px solid red;
  }
  */
  
  /* <----------------------------------------  navigation bar  ----------------------------------------> */   
  
    #navbar-top
    {
      padding: 0px;
      margin-top: 0px;
      margin-bottom: 0px;
      background-color: white;
    }
  
    .navbartext {
      display: none;
      color: black;
      font-size: 1.25rem;
      vertical-align: middle;
      height: 100%;
      padding-left: 20px;
      padding-right: 20px;
      /* border: 1px solid red; */
  }
  
    #write-tweet {
      width: 50px;
      height: 50px;
      text-align: center;
    }
  
    #navbarpost {
      display: none;
      width: 80%;
      background-color: #1DA1F2;
      color: white;
      border-radius: 25px;
      height: 50px;
      border: 0px;
      font-weight: bold;
    }
  
    #navbarpost:hover{
      background-color: #1a8cd3;
    }
  
    img.navbaricons {
      width: 22px;
      height: 22px;
    }
  
    .nav-item {
      margin: 5px;
    }
  
    .nav-link {
      align-items: self-end;
      padding: 14px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      /* border: 1px solid green; */
    }
  
    .nav-link:hover {
      background-color: rgba(0, 0, 0, 0.100);
    }
  
    .navbar-nav {
      width: 100%;
      align-items:self-end;
      height: 100%;
      min-height: 500px;
      /*border: 1px solid green;*/
    }
  
    #profile-nav-img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  
    #profile-nav {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    #profile-nav:hover {
      background-color: rgba(0, 0, 0, 0.100);
    }
  
    #profile-nav-elip {
      display:none;
      margin-left: auto;
      margin-right: 10px;
    }
  
    #profile-nav-elip:hover {
      background-color: transparent;
    }
  
    #profile-nav-text {
      display:none;
      padding-left: 10px;
      padding-right: 10px;
      /*border: 1px solid green;*/
    }
  
    #profile-nav-username {
      display: block;
      font-size: 0.8rem;
      font-weight: bold;
      margin-bottom: 0;
      width: fit-content;
    }
    #profile-nav-accountname {
      display: block;
      font-size: 0.8rem;
      margin: 0;
      margin-block-start: 0px;
      margin-block-end: 0px;
      width: fit-content;
    }
    
    #bottom-nav {
      display: flex;
      min-height: 75px;
      margin-top: auto;
      margin-bottom: 10px;
      width: 100%;   
      justify-content: right;
      align-items: center;
      /*border: 1px solid blue;*/
    }
  
  /* <----------------------------------------  short profile  ----------------------------------------> */   
  
  #shortProfile
  {
    width:100%;
    height: 60px;
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    justify-content:left;
    align-items:center;
    padding: 10px;
  }
  
  #shortProfile:hover {
    background-color: rgba(0, 0, 0, 0.100);
  }
  
  #shortProfile-text{
    display:inline;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  #shortProfile-username {
    display: block;
    color:black;
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 0;
    width: fit-content;
  }
  
  #shortProfile-username:hover {
    text-decoration: underline;
  }
  #shortProfile-accountname {
    display: block;
    color: rgb(97, 110, 124);
    font-size: 0.9rem;
    margin: 0;
    margin-block-start: 0px;
    margin-block-end: 0px;
    width: fit-content;
  }
  
  .shortProfile-img{
      vertical-align: middle;
      margin: unset;
      margin-left: 5px;
      display:inline;
      width: 40px;
      height: 40px;
      border-radius: 50%;
  }
  
  #shortProfile-button {
    background-color: black;
    color: white;
    height: 30px;
    width: 75px;
    border-radius: 25px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 10px;
    margin-left: auto;
    vertical-align: middle;
    display:inline;
    border: 0px;
    font-size: 0.9rem;
    font-weight: bold;
    align-items: center;
  }
  #shortProfile-button:hover {
    background-color: rgba(0, 0, 0, 0.700);
  }
  
  /* <----------------------------------------  panes  ----------------------------------------> */   
  
    /* panes */
    .panes 
    {
      background-color: #f6f9f9;
      border-radius: 17px;
      width: 89%;
      max-width: 350px; /*new */
      margin-left:8%;
      margin-right:auto;
      align-content: center;
      margin-top: 20px;
    }
  
    .pane-title {
      display:inine;
      width: fit-content;
      height: fit-content;
      font-weight: bold;
      font-size: 1.25rem;
      margin-left: 15px;
      margin-bottom: 0px;
    }
  
    .pane-container {
      display:flex;
      flex-direction: row;
      width: 100%;
      height: 50px;
      align-items: center;
      justify-content: left;
    }
  
    .pane-more {
      display:inline;
      width: fit-content;
      height: fit-content;
      color:#1DA1F2;
      font-size: 0.9rem;
      margin-left: 15px;
      margin-bottom: 0px;
    }
  
    #pane-more:hover {
      background-color: rgba(0, 0, 0, 0.100);
      border-radius: 0 0 17px 17px;
    }
  
  /* <----------------------------------------  random ----------------------------------------> */ 
  
  .elip {
    width: 25px;
    height: 25px;
    padding: 5px;
    border-radius: 15px;
  }
  
  .elip:hover {
    background-color: #1da0f223;
  }
  
  /* for search bars */
  input[type=text] {
    width: 100%;
    background-image: url('/front-end/src/assets/images/magnifier-gray.png');
    background-position: 25px 16px;
    background-size: 17px 17px;
    padding: 12px 20px 12px 50px;
    background-repeat: no-repeat;
    background-color: #eff3f4 ;
    color: gray;
    border: 0px;
    border-radius: 25px;
  }
  
  input[type=text]:focus {
    outline: 0px;
    outline-offset: -1px;
    border: 1px solid #1DA1F2;
    background-color: white;
    caret-color: #1DA1F2;
  }
  
  ul {
    list-style: none;
    align-items: center;
   /* width: 100%; */
  }
  
  li {
    margin: 10px;
    vertical-align: middle;
    align-items: center;
    height: 50px;
   /* width: 100%; */
  }
  
  /* <----------------------------------------  toolbar ----------------------------------------> */   
  
  .toolbar {
    width: 100%;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: white;
    border-bottom: 1px solid lightgray;
  }
  
  .page-title {
    display: inline;
    font-weight: bold;
    font-size: 1.35rem;
    margin-left: 15px;
    margin-bottom: 0;
  }
  
  .title-icons {
    display: inline;
    margin-left: auto;
    margin-right: 10px;
    width:fit-content;
  }
  
  .toolbar-icon {
    display: inline;
    width: 33px;
    height: 33px;
    padding: 8px;
    border-radius: 50%;
    margin: 0px;
  }
  
  .toolbar-icon:hover{
    background-color: rgba(0, 0, 0, 0.100);
  }
  
  .upper-toolbar {
    display:flex;
    flex-direction: row;
    width:100%;
    align-items: center;
    /*border: 1px solid black;*/
    height: 50px;
  }
  
  .lower-toolbar {
    display: flex;
    flex-direction: row;
    width:100%;
    height: 50px;
    align-items: center;
    justify-content: center;
    margin-top: 4px;
  }
  
  .toolbar-tabs {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .tab-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width:fit-content;
    align-items: center;
    justify-content: center;
  }
  
  #tab-text {
    /*width:fit-content;*/
    height: fit-content;
    margin-top: 14px;
    margin-bottom: auto;
    font-weight:500;
    font-size: 0.95rem;
    color: rgb(97, 110, 124);
    text-decoration: none;
  }
  
  .toolbar-tabs:target > .tab-container > #tab-text {
    color: black;
    outline: none;
    font-weight: bold;
  }
  .toolbar-tabs:target > .tab-container > #marker{
    display: block;
  }
  
  #marker {
    display: none; 
    min-width: 55px;
    width: 100%;
    height: 4px;
    background-color: #1a8cd3;
    border-radius: 2px;
    margin-bottom: 2px;
  }
  
  
  .tab-text:hover {
    color: rgb(97, 110, 124);
  }
  
  .toolbar-tabs:hover {
    background-color: rgba(0, 0, 0, 0.100);
  }
  
  /* <----------------------------------------  layout ----------------------------------------> */   
  
  body {
    width: 100%;
    overflow-x: hidden;
  }
  
  /* width */
  .main-content::-webkit-scrollbar {
    display: none;
  }
  
  .secondary-content::-webkit-scrollbar {
    display: none;
    /*width: 10px;
    border: 5px 5px;*/
  }
  
  /* Track */
  .secondary-content::-webkit-scrollbar-track {
    background: white; 
  }
  
  /* Handle */
  .secondary-content::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  .secondary-content::-webkit-scrollbar-thumb:hover{
    background: #555; 
  }
  
    #navbar {
      display: flex;
      flex-direction: column;
      float: left;
      min-width: min-content;
      height: 100vh;
      min-height: 585px;
      margin-right: 10px;
      z-index: 1;
      }
  
    .main-content {
      display: block;
      overflow-y: scroll;
      height: 800px; /* will have to change eventually*/
      min-width: 500px;
      max-width: 600px;
      border-left: 1px solid lightgray;
      border-right: 1px solid lightgray;
      overflow-x: hidden; /* maybe get rid of this */
      float:left;
      z-index: 1;
    }
  
  .secondary-content {
      display: inline; /* was block */
      overflow: scroll;
      height: 100vh;
      float:left; /* used to be right */
      z-index: 1;
    }
  
    /* always keep media conditional css at bottom, otherwise, css won't work properly */
    @media only screen and (max-width: 700px) {
  
      #navbar {
        width: 11%;
      }
  
      .main-content {
        display: block;
        width: 87%;
      }
  
      .secondary-content {
        display:none;
        /*visibility: hidden;*/
  
      }
  }
  
    @media only screen and (min-width: 701px) and (max-width: 975px) {
  
      #navbar {
        width: 16%;
      }
  
      .main-content {
        width: 82%;
      }
  
      .secondary-content {
        display:none;
        /*visibility: hidden;*/
      }
  }
  
  @media only screen and (min-width: 976px) and (max-width: 1079px) {
  
    #navbar {
      width: 7%;
      }
  
    .main-content {
      width: 59%;
    }
  
  .secondary-content {
      width: 32%;
     /* float: left;*/
      visibility: visible;
    }
  }
  
  @media only screen and (min-width: 1080px) and (max-width: 1249px) {
  
    #navbar {
      width: 11%;
      }
  
    .main-content {
      width: 59%;
    }
  
  .secondary-content {
      width: 32%;
     /* float: left;*/
      visibility: visible;
    }
  }
  
  @media only screen and (min-width: 1250px) {
  
      .panes{
        margin-left:5%;
      }
  
      /* navbar */
  
      img.navbaricons {
        vertical-align: middle;
        margin: unset;
        display:inline;
        padding-left: 15px;
        width: fit-content;
      }
  
      .nav-link {
        display:inline;
        border-radius: 25px;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 20px;
        justify-content: left;
      }
  
      .nav-item { /* changed from li */
        display: inline;
        vertical-align: middle;
        align-items: left;
        height: 50px;
        width: 100%;
        /* border: 1px solid blue; */
        }   
  
      .navbar-nav {
        align-items:center;
      }
  
      #tweeter-navbar {
        align-items: self-end;
        padding: 14px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 1px solid green; */
      }
  
      #tnb {
        padding-left: 0px;
      }
  
      .navbartext {
          display: inline; /* inline-block */
      }
  
      #navbarpost {
        display: inline-block;
      }
  
      #write-tweet {
        display: none;
      }
  
      #profile-nav-elip {
        display:inline;
      }
  
      #profile-nav-text {
        display:inline;
      }
      
      #profile-nav-img {
        vertical-align: middle;
        margin: unset;
        margin-left: 10px;
        display:inline;
      }
  
      #profile-nav {
        flex-direction: row;
        vertical-align: middle;
        border-radius: 40px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-left: 20px;
        min-width: fit-content;
        width: 80%;
        /*border: 1px solid red;*/
      }
  
      #bottom-nav {
          align-items: left;
          justify-content: left;
      }
  
      #navbar {
          width: 21% !important;
        }
  
      .main-content {
          width: 48%;
        }
  
      .secondary-content {
          width: 30%;
          visibility: visible;
        }
  }
  