<!-- Used when searching and for secondary content panes-->
<div id="shortProfile">
    <img id="spi" (mouseenter)="showModal(profile)" class="shortProfile-img" src={{profile.pic}} alt="profile"/>
    <div id="shortProfile-text">
        <h3 id="shortProfile-username"> {{ profile.username }} </h3>
        <p id="shortProfile-accountname">&commat;{{ profile.acc_name }}</p>
    </div>
    <!-- {% if button == "yes" %} -->
        <button id="shortProfile-button">Follow</button>
    <!--{% endif %} -->
</div>

<profile-modal id="pm-instance" [inMain]="false" [(show)]='show_modal' [scc]='scc'[profile]='modal_profile'></profile-modal>
